{% extends "sakai/base.html" %}

{% block content %}
<div class="section">
  <div class="header">
    <h2>WebLearn Preview</h2>
  </div>
  <div class="section-content">
    <p>Hello{% if user_details.firstName %} {{ user_details.firstName }}{% endif %}, welcome to mobile WebLearn preview!</p>
    <p>
      You'll see this section expand and improve over time and we would really
      like to hear what you think, so do drop us a note via the link at the
      bottom of the page.
    </p>
  </div>

</div>
<div class="section">
  <div class="header">
    <h2>Announcements
	{% if not user_details.firstName %}
		- <a href="{% url sakai:index %}?force_login">log in for more</a> 
	{% endif %}
	</h2>
    
  </div>
  <ul class="link-list">
    {% for announcement in announcements.announcement_collection %}
      <li><a href="{% url sakai:announcement announcement.id %}">{{ announcement.title|safe }}</a></li>
    {% empty %}
      <li>No announcements right now</li>
    {% endfor %}
  </ul>
</div>

<div class="section">
  <div class="header">
    <h2>Tools</h2>
  </div>
  <ul class="link-list">
  {% for tool in tools %}
    <li><a href="{{ tool.url }}">{{ tool.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %} 
