{% extends "sakai/base.html" %}

{% block content %}
<div class="section">
    <div class="header">
    <h2>Sign-up events by Weblearn site</h2>
    <p>We're still working on a way of only showing you sites that you have tutorials available to book; bear with us in the meantime!</p>
    </div>
<ul class="link-list">
{% for id, title in sites %}
    <li class="{% if forloop.last %}round-bottom{% endif %}">
        <a href="{% url sakai:signup-site id %}">{{ title }}</a>
    </li>
{% endfor %}
</ul>
</div>

{% endblock %}
