{% extends "sakai/base.html" %}{% load portal_misc %}

{% block extrahead %}
<style type="text/css">

.header {border-bottom: 1px solid #888;}

table {
    background: #eee;
    border-spacing:0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
}

table tr.new-week td {
    background: #DEE6FF;
    background: 
    -webkit-gradient(linear, left top, left bottom, from(#A7BAC7), to(#DEE6FF));
    background:
    -moz-linear-gradient(center top, #A7BAC7, #DEE6FF);
    padding: 5px 5px 5px 7px; 
    border: 0;
    font-size: 1.1em;
}

table tr td {
    border-bottom: 1px solid #888;
    border-top: 1px solid #fff;
    padding: 7px 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#eee))
}

table tr td:last-child a {
    color: #fff;
    text-decoration:none;
    display: block;
    height: 2em;
    line-height: 2em;
    vertical-align: middle; 
    text-shadow: 0 -1px 1px #000;
}

table tr:last-child td:first-child {border-bottom-left-radius: 5px;}
table tr:last-child td:last-child {border-bottom-right-radius: 5px;}

div.button {
    background:#002147 url('{{ MEDIA_URL }}png/icons/list-arrow.png') no-repeat;
    background-position: right center;
    
    margin: 0 2px 0 auto;
    min-width: 70px;
    max-width: 100px;
    padding: 3px;
 
    box-shadow: 3px 3px 4px #999;-webkit-box-shadow: 3px 3px 4px #999;-moz-box-shadow: 3px 3px 4px #999;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; 
    
    border-color: #ccc;
    border: 1px solid rgba(255,255,255,0.3);
    border-width: 1px 0 0 1px; 
}
</style>

{% endblock %}

{% block pagetitle %}Meetings{% endblock %}

{% block content %}

<div class="section">
    <div class="header">
    <h2>Available Tutorials</h2>
    </div>
{#<ul> #}

{% regroup events by start|date:"W" as weeks %}
<table>
{% for event in events %}

{% ifchanged event.start|oxdate:"%(week)s%(ordinal)s%(term_long)s" %}
<tr class="new-week"><td colspan='3'>
{{ event.start|oxdate:"%(week)s%(ordinal)s Week %(term_long)s Term" }}
</td></tr>
<tr> <td class="center tutorial-date ">
{% else %}
<tr><td class="center tutorial-date">
{% endifchanged %}
    {% ifequal event.start|date:"dMY" event.end|date:"dMY" %}
      {# 1. If start and end time are on the same day #}  
      
      {# Date - Month #}
      <big>{{ event.start|date:"j M"}}
      {# Only show year if start date is not in this year #}
       {% ifnotequal event.start|date:"Y" now|date:"Y"%}
         {{ event.start|date:"Y"}}
       {% endifnotequal %}
      </big><br />
      
      {# Day - Time #}
      <small>{{ event.start|date:"D"}}
      {% ifequal event.start|date:"A" event.end|date:"A"  %}
          {# If start and end times are both am or pm #}
          {{ event.start|date:"g:i"|lower }}-{{ event.end|date:"g:iA"|lower }}     
          {% else %}
          {{ event.start|date:"g:iA"|lower }}-{{ event.end|date:"g:iA"|lower }}
      {% endifequal %}
       </small>
      {# 1. END #}
      
    {% else %}
      {# Handle the rare occurence that tutorials start and end on different days #}
        {% ifequal event.start|date:"Y" event.end|date:"Y" %}
            {% ifequal event.start|date:"Y" now|date:"Y" %}
            {# Event starts this year and finishes this year %} 
                {{ event.start|date:"j M" }}, <small>{{ event.start|date:"g:iA"|lower}}</small>-
                <br />{{ event.end|date:"j M" }}, <small>{{ event.end|date:"g:iA"|lower}}</small>
            {% else %}
            {# Event starts in a different year but finishes in that year too #}
                {{ event.start|date:"j M y" }}, <small>{{ event.start|date:"g:iA"|lower}}</small>-
                <br />{{ event.end|date:"j M y" }}, <small>{{ event.end|date:"g:iA"|lower}}</small>
            {% endifequal %}
        {% else %}
            {{ event.start|date:"j M y" }}, <small>{{ event.start|date:"g:iA"|lower}}</small>-
            <br />{{ event.end|date:"j M y" }}, <small>{{ event.end|date:"g:iA"|lower}}</small>
        {% endifequal %}
    {% endifequal %}
    
    </td>
    <td>
        {{ event.title }}
    </td>
    <td><div class="button"><a href="{% url sakai:signup-event site,event.id %}">Book</a></div></td>
  </tr> {% endfor %}


</table>
{#</ul>#}
</div>
{% endblock %}



{# 
 #}
