
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
  <head>
{% block head %}      
	<title>Mobile Oxford</title>
	<!-- MS Standard failure work around-->
	<link rel="SHORTCUT ICON" href="{{ MEDIA_URL }}ico/favicon.ico"/>
	
	<link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}ico/favicon.ico"/>
	<link rel="icon" type="image/png" href="{{ MEDIA_URL }}png/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/desktop_about.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/jquery.lightbox-0.5.css"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<script src="{{ MEDIA_URL }}js/jquery-1.3.2.js" type="text/javascript"> </script>
	<script src="{{ MEDIA_URL }}js/jquery.lightbox-0.5.min.js" type="text/javascript"> </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/desktop_about.js">
              
          
    </script>
{% endblock %}
  </head>

  

  <body>
{% block body %}
    <div class="header">
    <div class="container" style="height:145px;">
      <div class="header-strapline">
        <h1>
          <img src="{{ MEDIA_URL }}png/desktop-logo.png" alt="Mobile Oxford" height="62" width="445"/>
        </h1>
      </div>
    <div class="navigation">
      <ul>
        <li{% ifequal page "about" %} class="selected"{% endifequal %}><a id="link-about" href="{% url home:exposition "" %}">About</a></li>
        <li{% ifequal page "features" %} class="selected"{% endifequal %}><a id="link-features" href="{% url home:exposition "" %}features/">Features</a></li>
{#        <li{% ifequal page "accessing" %} class="selected"{% endifequal %}><a id="link-accessing" href="{% url home:xposition "" %}accessing/">Accessing</a></li> #}
{#        <li{% ifequal page "get-involved" %} class="selected"{% endifequal %}><a id="link-get-involved" href="{% url home:exposition "" %}get-involved/">Get involved</a></li> #}
        <li{% ifequal page "blog" %} class="selected"{% endifequal %}><a id="link-blog" href="{% url home:exposition "" %}blog/">Blog</a></li>
{#        <li{% ifequal page "help" %} class="selected"{% endifequal %}><a id="link-help" href="{% url home:exposition "" %}help/">Help</a></li> #}
      </ul>
    </div>
      <a href="http://www.ox.ac.uk/">
        <img class="brandmark" src="{{ MEDIA_URL }}gif/brandmarks/2231_ox_brand1_rev.gif" alt="University of Oxford" height="115" width="115" />
      </a>
    </div>
    </div>
    <div id="spinner">
      <span>
        <img src="{{ MEDIA_URL }}gif/ajax-loader.gif" height="32" width="32"/>
      </span>
    </div>
        
    <div class="container" id="container">
        {{ content|safe }}
    </div>
    <div class="footer">
  <div class="container">
  <p>Developed by the OUCS Erewhon Project, through the JISC-funded Institutional Innovation programme.</p>
  <div class="logos">
  <a href="http://jisc.ac.uk/">
    <img src="{{ MEDIA_URL }}png/jisc-logo.png" width="100" height="52" alt="JISC" style="position:relative; top:0px;" />
  </a>
  <a href="http://erewhon.oucs.ox.ac.uk/">
    <img src="{{ MEDIA_URL }}png/erewhon-logo.png" width="150" height="60" alt="Erewhon Project" style="position:relative; top:9px;" />
  </a>
  <a href="http://www.oucs.ox.ac.uk/">
    <img src="{{ MEDIA_URL }}png/oucs-logo.png" width="254" height="63" alt="OUCS" style="position:relative; top:2px;" />
  </a>
  </div>
  <p>With thanks to the following for providing data:</p>
  <ul>
    <li><a href="http://www.oxontime.com">ACIS - OxonTime</a></li>
    <li><a href="http://backstage.bbc.co.uk/">BBC</a></li>
	<li><a href="http://dft.gov.uk">Department for Transport</a></li>
    <li><a href="http://www.earth.ox.ac.uk/">Earth Sciences Department</a></li>
	<li><a href="http://www.admin.ox.ac.uk/schools/">Examination Schools</a></li>
    <li><a href="http://wiki.openstreetmap.org/">OpenStreetMap</a></li>
    <li><a href="http://oii.ox.ac.uk/">Oxford Internet Institute</a></li>
    <li><a href="http://www.oxfordshire.gov.uk">Oxfordshire County Council</a></li>
    <li><a href="http://www.ouls.ox.ac.uk/">Oxford University Library Services</a></li>
    <li><a href="http://podcasts.ox.ac.uk/">University of Oxford Podcasts</a></li>
  </ul>

  <p>Contact us at <a href="mailto:mobileoxford@oucs.ox.ac.uk">mobileoxford@oucs.ox.ac.uk</a> should you have any problems, suggestions, or comments.</p>
</div></div>
{% endblock %}
  </body>
</html>
