{% extends "feedback/base.html" %}

{% block content %}

{% if sent %}
	<div class="section">
	  <h2>Thank you for your feedback!</h2>
	  <div class="note"><div class="bubble pad-10">
	{% if referer %}
	  <p>You may wish to <a href="{{ referer }}">go back</a>.</p>
	{% else %}
	  <p>You may wish to <a href="{% url home:index %}">go back to the home page</a>.</p>
	{% endif %}
	</div></div>
	</div>
{% endif %}

{% if not sent %}


<style>
    h3 {text-shadow:none;}
</style>

<form method="post" action=".">
  {% csrf_token %}
<input type="hidden" name="referer" value="{{ referer }}"/>

<div class="section">
	<div class="form">
	<h3>{{ feedback_form.email.label}}</h3>
	{% if feedback_form.email.errors %}
	    <p>{{ feedback_form.email.errors.0 }}</p>
	{% endif %}  <p>{{ feedback_form.email }}</p>
	<h3>{{ feedback_form.body.label}}</h3>
	<p>{{ feedback_form.body }}</p>
	<p><input type="submit" value="Submit" /></p>
	</div>
</div>
</form>
{% endif %}

{% endblock %}
