{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGES|length > 1 %}
    
	{% comment %}
	It doesn't really have an AJAX handler, but we need to reload JS to get
	the new JS language file, and we can't do this in the AJAX framework
	{% endcomment %}
	<div class="center language-selector">
	<form action="{% url set-language %}" method="post" class="has-ajax-handler">
	    {% csrf_token %}
	    <input type="hidden" name="next" value="{{ full_path }}" />
		{% for language_code, language_name in LANGUAGES %}
		    {% if language_code != LANGUAGE_CODE %}
			    <button type="submit" name="language" value="{{ language_code }}">
				{{ language_name }}
			    </button>
		    {% endif %}
		{% endfor %}
	    </ul>
	</form>
	</div>
{% endif %}