{% extends "sakai/base.html" %}{% load molly_sakai %}{% load i18n %}

{% block content %}

<div class="section">
    <div class="header">
        <h2>{{ announcement.title|safe }}</h2>
    </div>
    <div class="section-content">
        {{ announcement.body|safe }}
        <p><small><em>{{ announcement.createdByDisplayName }} at
            {{ announcement.createdOn|from_sakai_timestamp|date:"j M Y \a\t H:m" }}
        </em></small></p>
    {% if announcement.attachments %}
        <div class="bubble pad-10">
            <p>{% blocktrans count announcement.attachments|length as attachments %}This announcement has {{ attachments }} attachment.{% plural %}This announcement has {{ attachments }} attachments.{% endblocktrans %}</p>
            <ul>
                {% for attachment in announcement.attachments %}
                    <li>{{ attachment }}</li>
                {% endfor %}
            </ul>
            <p>{% trans "Please use WebLearn on a desktop PC to retrieve them." %}</p>
        </div>
    {% endif %}
    </div>
</div>
    
{% endblock %}