a.zoom-out, a.zoom-in {
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 20;
}

a.zoom-out { left: 0; }
a.zoom-in { right: 0; }
a.zoom-out img, a.zoom-in img { border:0; }

div.osm-license {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
    text-align:right;
    padding: 2px;
    background: #ffffff;
    background-opacity: 0.5;
    color: #000000;
    z-index: 20;
}

.slippy-map {
    text-align: center;
    margin-right: 60px;
    position: relative;
}

.map {
    border: 1px solid #000000;
}