include setup.py README.creole MANIFEST.in LICENSE
recursive-include molly/apps/*/tests/data *
recursive-include molly/apps/*/templates *
recursive-include molly/apps/*/static *
recursive-include molly/apps/*/data *
recursive-include molly/*/templates *
recursive-include molly/*/static *
recursive-include molly/*/data *
recursive-include molly/media *
recursive-include molly/templates *
recursive-include molly/maps/management/commands/markers *
recursive-include molly/maps/osm/fallback *
recursive-include molly/commands/site_template *
exclude molly/wurfl/wurfl_data.py
