@charset "utf-8";
@import url("iui.css");

a[selected], a:active {
    background: none;
}

a[selected="progress"] {
    background-image: url(../images/iui/loading.gif), url(../images/iui/selection.png) !important;
}

body > .toolbar {
    background: #678;
}

.toolbar > h1 {
    text-shadow: none;
}


#backButton, #backButton:active {
    -webkit-border-image: none;
    text-shadow: none;
    background: none;
}

#backButton:before {
	content: '‹ ';
	font-size: 1.2em;
	font-weight: bold;
}

body > .panel {
    background: #dddfe1;
}



#preloader {
    display: none;
    background-image: url(../images/iui/loading.gif), url(../images/iui/selection.png),
        url(../images/iui/blueButton.png), url(../images/iui/listArrowSel.png), url(../images/iui/listGroup.png);
}

.panel > h2 {
    color: #444;
    text-shadow: none;
}
