{% load compressed %}{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Create a tour" %}</title>
    {% compressed_css 'tours-desktop' %}
</head>
<body>
    <!-- Icons on this page are from FamFamFam silk, CC-BY http://www.famfamfam.com/lab/icons/silk/ -->
    <h1>{% trans "Create a tour" %}</h1>
    <p>{% blocktrans %}Some instructions on how to create a tour here{% endblocktrans %}</p>
    
    {% if tour %}
        <p><a href="{{ tour.get_absolute_url }}">{% trans 'Your tour has been created. Click here to go to the tour page.' %}</a></p>
    {% endif %}
    
    <div id="current-tour">
        <h2>{% trans "Current stops on your tour" %}</h2>
        {% if optimised_entities %}
            <p>{% trans 'Your route order has been optimised to minimise travelling distance - the order may have changed.' %}</p>
        {% endif %}
        <ol id="poi-list">
            {% for entity in entities %}
                <li><a href="{% url tours:create %}{% for e in entities %}{% if e != entity %}{{ e.identifier_scheme }}:{{ e.identifier_value }}/{% endif %}{% endfor %}">
                    {{ entity.title }}
                </a></li>
            {% endfor %}
        </ol>
        <form action="{% url tours:create %}{% for e in entities %}{{ e.identifier_scheme }}:{{ e.identifier_value }}/{% endfor %}save/">
            <input type="submit" value="{% trans 'Save' %}" />
        </form>
    </div>
    
    {% if suggestions %}
        <div class="attractions-grouping">
            <h2>{% trans "Suggestions" %}</h2>
            <p>{% trans 'Your tour takes you near the following places, click on them to add them to your route:' %}</p>
            <ul>
                {% for entity in suggestions %}
                    <li id="{{ entity.identifier_scheme }}-{{ entity.identifier_value }}"{% if entity in entities %} class="selected"{% endif %}><a href="{% url tours:create %}{% for e in entities %}{{ e.identifier_scheme }}:{{ e.identifier_value }}/{% endfor %}{{ entity.identifier_scheme }}:{{ entity.identifier_value }}/save/">{{ entity.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {% for entity_type, attraction_entities in attractions.items %}
        <div class="attractions-grouping">
            <h2>{{ entity_type.verbose_name_plural|capfirst }}</h2>
            <ul>
                {% for entity in attraction_entities %}
                    <li id="{{ entity.identifier_scheme }}-{{ entity.identifier_value }}"{% if entity in entities %} class="selected"{% endif %}><a href="{% url tours:create %}{% for e in entities %}{{ e.identifier_scheme }}:{{ e.identifier_value }}/{% endfor %}{{ entity.identifier_scheme }}:{{ entity.identifier_value }}/">{{ entity.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    
</body>
</html>