{% extends "sakai/base.html" %}{% load sakai %}{% load molly_utils %}

{% block content %}

<div class="section">
  <h2>{{ poll.text }}</h2>

{% if poll.details %}  
  <div class="content pad-10">
    {{ poll.details|sanitize_html }}
  </div>
{% endif %}

<form method="POST" action="">
    <ul>
{% for option in options %}
      <li{% if forloop.last %} class="round-bottom"{% endif %}>
          <input type="radio" name="pollOption" value="{{ option.id }}" id="pollOption-{{ option.id }}"/>
          <label for="pollOption-{{ option.id }}">{{ option.text|sanitize_html }}</label>
      </li>
{% endfor %}
    </ul>
    
    <input type="submit"/>
</form>
</div>
      


{% endblock %}