{% extends "sakai/base.html" %}{% load sakai %}

{% block content %}

{% regroup polls by title as polls_by_title %}

{% for poll_set in polls_by_title %}
<div class="section">
  <h2>{{ poll_set.grouper }}</h2>
  
  <div class="content pad-10">
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Opens</th>
        <th>Closes</th>
    <tbody>
{% for poll in poll_set.list %}
      <tr>
        <td><a href="{% url sakai:poll-detail poll.id %}">{{ poll.text }}</a></td>
        <td>{{ poll.voteOpen|from_sakai_timestamp|date:"d M Y, g:iA" }}</td>
        <td>{{ poll.voteClose|from_sakai_timestamp|date:"d M Y, g:iA" }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% empty %}
<div class="content pad-10">
  There aren't currently any polls.
</div>
{% endfor %}

{% endblock %}
