{% extends "sakai/base.html" %}{% load sakai %}

{% block content %}

{% regroup polls by title as polls_by_title %}

{% for poll_set in polls_by_title %}
<div class="section">
  <div class="header">
    <h2>{{ poll_set.grouper }}</h2>
  </div>
  
  <table class="content">
    <thead>
      <tr>
        <th>Question</th>
        <th>Open</th>
        <th></th>
    <tbody>
{% for poll in poll_set.list %}
      <tr>
        <td>{{ poll.text }}</td>
        <td>
          {{ poll.voteOpen|from_sakai_timestamp|date:"d M Y, g:iA" }}
          until
          {{ poll.voteClose|from_sakai_timestamp|date:"d M Y, g:iA" }}
        </td>
        <td>
          <div class="button">
            <a href="{% url sakai:poll-detail poll.id %}">{% if poll.currentUserVotes %}View{% else %}Take{% endif %}</a>
          </div>
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>

{% empty %}
<div class="section">
  <div class="header">
    <h2>Polls</h2>
  </div>
  <div class="section-content">
    There aren't currently any polls.
  </div>
</div>
{% endfor %}

{% endblock %}
