<div class="section">
  <h2>OpenStreetMap</h2>

  <div class="note"><div class="bubble pad-10">
    <p>
      OpenStreetMap (OSM) is a community-led mapping project providing free
      geographic data to anyone who wants them.
    </p>
    <p>
      Mobile Oxford uses OSM data under the Creative Commons Attribution-Share
      Alike (CC-BY-SA) 2.0 license to provide maps and points-of-interest data.
    </p> 
    <p>
      Should you wish to contribute to OSM, you can either submit corrections
      though Mobile Oxford (there's a <em>Suggest a correction</em> link at the
      bottom of each OSM-derived page), or set up an OSM account and edit
      directly. For more information on getting started, see the Beginners'
      Guide (link below) on the OpenStreetMap website.
    </p>
    <p>
      Here are some useful links you may want to browse from a non-mobile
      browser:
    </p>
    <dl>
      <dt>Creative Commons Attribution-Share Alike 2.0 license</dt>
      <dd><a href="http://creativecommons.org/licenses/by-ca/2.0/">http://creativecommons.org/licenses/by-ca/2.0/</a></dd>
      <dt>The OpenStreetMap website</dt>
      <dd><a href="http://www.openstreetmap.org/">http://www.openstreetmap.org/</a></dd>
      <dt>The OpenStreetMap wiki</dt>
      <dd><a href="http://wiki.openstreetmap.org/">http://wiki.openstreetmap.org/</a></dd>
      <dt>The OSM Beginners' Guide</dt>
      <dd><a href="http://wiki.openstreetmap.org/wiki/Beginners%27_Guide">http://wiki.openstreetmap.org/wiki/Beginners%27_Guide</a></dd>
    </dl>
  </div></div>
</div>

