/* Weather */
div.weather-icon {
    display:inline-block;
    width: 128px;
    vertical-align:top;
}
div.weather-live-info {
    display:inline-block;
    vertical-align: top;
    width: 150px;
    padding: 0; margin: 0;
    background-color: transparent;
    border-left:0;
    font-size:0.8em;
    color:#000000;
    text-align: left;
}

div.weather-live-info span {
    font-size: 3em;
}

table.weather-forecast {
    padding: 20px;
    width: 100%;
    color:#000000;
}

table.weather-forecast tbody tr td.large-text {
    font-size: 1em;
}

table.weather-forecast tbody tr td img {
    height: 2.5em;
    width: 2.5em;
}
/* End Weather */
