{% extends "base.html" %}

{% block content %}

<div class="section">
  <div class="header">
    <h2>Request details</h2>
    <p>These are headers you are sending to the site. Formats are inferred from your Accept header.</p>
  </div>
    
    <table class="content">
      <tbody>
        <tr>
          <th>User-Agent</th>
          <td>{{ ua }}</td>
        </tr>
        <tr>
          <th>Accept</th>
          <td>{{ accept }}</td>
        </tr>
        <tr>
          <th>Formats</th>
          <td>{{ formats|join:", " }}</td>
      </tbody>
    </table>
</div>

<div class="section">
  <div class="header">
    <h2>Device details</h2>
    <p>These details relate to the device the site <em>believes</em> that you are using.</p>
  </div>
    
    <table class="content">
      <tbody>
        <tr>
          <th>Matched device</th>
          <td>{{ brand_name }} {{ model_name }}</td>
        </tr>
        <tr>
          <th>Matched UA</th>
          <td>{{ matched_ua }}</td>
        </tr>
        <tr>
          <th>Device identifier</th>
          <td>{{ id }}</td>
        </tr>
        <tr>
          <th>Mobile?</th>
          <td>{{ is_mobile|yesno|capfirst }}</td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock %}