{% extends "podcasts/base.html" %}{% load portal_misc %}{% load molly_external_media_tags %}{% load molly_apps_podcasts %}

{% block breadcrumbs %}
{{ block.super }}
            <li><a href="{% url podcasts_index %}">
                <img src="{{ MEDIA_URL }}png/index-icons/podcasts-bc.png" alt="Podcasts"/>
            </a></li>
{% if podcast.category %}
    <li><a href="{{ podcast.category.get_absolute_url }}">...</a></li>
{% endif %}
{% endblock %}

{% block pagetitle %}Podcast{% endblock %}
{% block title %}m.ox | {{ podcast.title }}{% endblock %}


{% block extrahead %}
<link href="{{ podcast.rss_url }}?destination=moxacuk" type="application/rss+xml" rel="alternate" title="Podcast RSS feed" />
{% endblock %}

{% block content %}

<div class="section" style="background:none; padding:0;">
  <div class="header" style="background:#dfdfdf; color:#222; padding:5px; background:-moz-linear-gradient(top, #fff, #cfcfcf); background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dfdfdf)); -webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top:1px solid rgba(255, 255, 255, 0.33); border-left:1px solid rgba(255, 255, 255, 0.33);">
    {% if podcast.logo %}
    {% with device|device_has_parent:"apple_iphone_ver4"|yesno:"120,60" as max_width %}
    <img style="border:0; float:left; margin-right:7px; margin-bottom:7px; -moz-box-shadow:1px 1px 2px #222; -webkit-box-shadow:1px 1px 2px #222" src="{% external_image podcast.logo max_width %}" width="60" height="60" alt=""/>
    {% endwith %}
    {% endif %}
    <h2 style="color:#222; text-shadow:2px 2px 2px #ccc; text-align:left; font-size:11pt; padding-top:3px; ">{{ podcast.title }}</h2>
    
    <div style="font-size:1em; line-height:1.1em;">
    {{ podcast.description|safe }}
    </div>
    <div style="clear:both;"> </div>
  </div>
<ul class="content-list" style="border-top:1px solid #98a1ac;">
{% for item in items %}
    
    <li>
    <h3>{{ item.title }}</h3>
    {% if item.license_data %}
    <a style="float:right; background:none; padding:0;" href="{{ item.license }}">
      <img style="border:0; margin-top:0px" class="podcast-license" src="{{ item.license_data.logo }}" alt="{{ item.license_data }}"/>
    </a>
    {% endif %}
      
      <div style="font-size:0.9em;">
      Published: {{ item.published_date|date:"j M Y" }}<br />
      </div>
    <div style="line-height:1.1em; margin-top:5px">
      {{ item.description|safe }}
    </div>
    
    <ul class="link-list round-top" style="margin-top:10px;">
    {% for enc in item.podcastenclosure_set.all %}
      <li style="vertical-align:middle;">
        <a href="{{ enc.url }}?CAMEFROM=moxacuk" style="vertical-align:middle; font-size:11px">
        <img src="{{ MEDIA_URL }}png/icons/list-{{ podcast.medium }}.png" style="vertical-align:middle; border:0; margin:2px;" alt="({{ podcast.medium }})"/>
          {% if item.duration %}{{ item.duration|humanize_seconds }}, {% endif %}{{ enc.get_mimetype_display|capfirst }}, {{ enc.length|filesizeformat }}
          </a>
        </li>
    {% endfor %}
      </ul>
    </li>


{% endfor %}
</ul>
</div>

{% endblock %}
