{% extends "base.html" %}{% load i18n %}

{% block scripts %}
{% endblock %}

{% block pagetitle %}{% trans "Not found" %}{% endblock %}
{% block title %}{% trans "404 Not Found" %}{% endblock %}

{% block content %}
<div class="section">
<h2>{% trans "404 Error" %}</h2>
    <div class="note"><div class="bubble pad-10">
        <p>{% trans "Sorry, we couldn't find what you're looking for." %}</p>
        {% url home:index as home_url %}
        <p>{% blocktrans %}Perhaps you'd like to head back to <a href="{{ home_url }}">the home page</a>?{% endblocktrans %}</p>
    </div></div>
</div>
{% endblock %}


