{% load molly_utils %}{% load compressed %}<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <title>{% block whole_title %}{% block site_title %}molly | {% endblock %}{% block title %}{{ breadcrumbs.4 }}{% endblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />

  {% compressed_css style_group %}
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png"/>{% if device|device_has_parent:"apple_iphone_ver4" or browser.svgt_1_1 %}
  {% compressed_css 'svg' %}
{% endif %}

{% if device|device_has_parent:"apple_generic" or device.device_os == "Android" %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}site/images/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}site/images/apple-touch-icon-72px.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}site/images/apple-touch-icon-114px.png"/>
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}site/images/apple-touch-icon.png"/>
    <link rel="apple-touch-startup-image" href="{{ STATIC_URL  }}site/images/apple-touch-startup-image.jpg">
{% endif %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}site/images/favicon.png"/>
    
    {% include "geolocation/js.html" %}
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>

{% block body %}

{% block header %}

{% ifnotequal style_group "dumb" %}
    <div id="bc-header">
      <ol id="bc">
      {% block site-small-logo %}
        <li><a href="{% url home:index %}">
          <img src="{{ STATIC_URL }}site/images/logo.png" width="42" height="30" alt="Home"/>
        </a></li>
      {% endblock %}
    {% if breadcrumbs.2 %}
        <li><a href="{{ breadcrumbs.1.1 }}" title="{{ breadcrumbs.1.0 }}">
          <img src="{{ STATIC_URL }}site/images/index-icons/{{ breadcrumbs.0 }}-bc.png" alt="{{ breadcrumb.1.0 }}"/>
        </a></li>
    {% if not breadcrumbs.3 %}
        <li><a href="{{ breadcrumbs.2.1 }}" title="{{ breadcrumbs.2.0 }}">
          &hellip;
        </a></li>
    {% endif %}{% endif %}
      </ol> 
      <div id="bc-title">
        <h1 class="{% if not breadcrumbs.2 %}{{ breadcrumbs.0 }}-header with-icon{% endif %}">{{ breadcrumbs.4 }}</h1>
        {% include "favourite.html" %}
      </div>
    </div>
{% else %}
    <div id="bc-header">
           <a href="{% url home:index %}">{% block breadcrumb_0 %}Home{% endblock %}</a>
       {% if breadcrumbs.2 %}
           / <a href="{{ breadcrumbs.1.1 }}" title="{{ breadcrumbs.1.0 }}">{{ breadcrumbs.1.0 }}</a>
       {% if not breadcrumbs.3 %}
            / <a href="{{ breadcrumbs.2.1 }}" title="{{ breadcrumbs.2.0 }}">&hellip;</a>
       {% endif %}{% endif %}
         <div id="bc-title">
           <h1>{{ breadcrumbs.4 }}</h1>
         </div>
         {% include "favourite.html" %}
       </div>
{% endifnotequal %}

{% endblock %}

<div class="content">

{% if unread_user_messages %}
    <div class="section" style="padding:10px;">
		<div class="bubble pad-10">
      	<a href="{% url home:messages %}" style="font-size:1.2em; padding:1em 0.2em; display:block;">
        You have a message from the developers!
      	</a>
		</div>
    </div>
{% endif %}

{% block content %}
{% endblock %}

{% if not hide_feedback_link %}
<div style="margin-top:0.9em">
{% block bottom_links %}

{% if device.brand_name == "RIM" %}
<!-- Blackberry specific -->
  <div style="width:49%; float:left; margin-top:0.1em; margin-bottom:0.2em;">
    <a style="margin:0 0.2em 0 0.4em; background-color:white; padding:0.6em; -webkit-border-radius:0.4em; -moz-border-radius:0.4em; text-align:center; display:block"
       href="{% url feedback:index %}?referer={{ full_path|urlencode }}">Feedback</a>
  </div>
  <div style="width:49%; float:right; margin-top: 0.1em; margin-bottom:0.2em;">
    <a style="margin:0 0.2em 0 0.2em; background-color:white; padding:0.6em; -webkit-border-radius:0.4em; -moz-border-radius:0.4em; text-align:center; display:block"
       href="{% url url_shortener:index %}?path={{ full_path|urlencode }}">Share</a>
  </div>
{% else %}
  <div style="width:50%; float:left; margin-top:0.1em; margin-bottom:0.2em;">
    <a style="margin:0 0.2em 0 0.2em; background-color:white; padding:0.6em; -webkit-border-radius:0.4em; -moz-border-radius:0.4em; text-align:center; display:block"
       href="{% url feedback:index %}?referer={{ full_path|urlencode }}">Feedback</a>
  </div>
  <div style="width:50%; float:left; margin-top: 0.1em; margin-bottom:0.2em;">
    <a style="margin:0 0.2em 0 0.4em; background-color:white; padding:0.6em; -webkit-border-radius:0.4em; -moz-border-radius:0.4em; text-align:center; display:block"
       href="{% url url_shortener:index %}?path={{ full_path|urlencode }}">Share</a>
  </div>

{% endif %}  

{% if "feature_vote"|app_is_loaded or "feature-suggestions"|app_is_loaded %}
  <div style="width:100%; float:left; margin-top: 0.1em; margin-bottom:0.4em;">
    <a style="margin:0 0.2em 0 0.2em; background-color:white; padding:0.6em; -webkit-border-radius:0.4em; -moz-border-radius:0.4em; text-align:center; display:block"
       href="{% url feature_vote:index %}">Suggest a feature</a>
  </div>
{% endif %}
  <div style="clear:both"> </div>



{% endblock %}
</div>
{% endif %}

</div>
{% endblock body %}

{% if google_analytics %}
 <script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', '{{ google_analytics|safe }}']);
 $(document).bind('molly-page-change', function(e, url){_gaq.push(['_trackPageview', url]);});
 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
{% endif %}

</body>
</html>
