body {
    background:#ffffff;
    text-align: left;
}

/* Generic */
.invisible {display:none;}
.center {text-align:center;}
.clear {clear:both;}

/* Index Page Specific */

h1 {
    font-size: 0.8em;
    padding: 0; margin: 0;
}

h2 { font-size: 0.8em; 
     padding: 0; margin: 0;
}

p {
    padding: 1px;
}

ol {
    text-align: left;
}

ul li {
    padding: 2px 0;
}
div.section {
    padding: 3px;
    margin: 3px 0;
    background-color: #f0f0f0;
}

div#index-header {
    width:100%;
}

/* Generic */
.invisible {display:none;}
.center {text-align:center;}
.clear {clear:both;}
