/* Molly's root smart.css */

/*
    CSS styles should be used like so:
    
	div.section
		div.header
		
                followed by one of the following:
                
                ul.content-list
                ul.link-list
                ol.directions-list
                div.section-content
*/

/*** Generic ***/

body {
    background: #bbc4ce url('../../site/images/gradients/backdrop-iphone.png') repeat-x top;
    font-size: 0.8em;
    font-family: "Liberation Sans", Arial, sans-serif;
    -webkit-text-size-adjust: none;
    text-align: left;
    margin: 0;
}

a img {
  border: 0;
}

small {
  font-size: 90%;
}

.invisible { display: none; }
.center { text-align: center; }
.clear { clear: both; }
.subtle-link { color: inherit; }

h2 {
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

h3 {
    color: #222;
    padding: 5px 5px;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 2px #ccc;
}

div.bubble {
    color: #002147;
    background-color: #ffffff;
    padding: 0;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div.note {
    text-align: center;
    padding: 5px;
    font-size: 1em;
}
div.note a {
    color: #002B4C;;
}

div.pad-10 { padding: 10px; }
div.pad-5 { padding: 5px; }

/* End Generic */

/* Lists not in sections */
.stand-alone {
    margin: 10px !important;
}

/* Breadcrumb Trail Styles */
div#bc-header {
    height: 34px;
    width: 100%;
    background: url('../../site/images/gradients/bc-gradient.png') repeat-x top;
    overflow: hidden;
}
ol#bc {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
ol#bc li {
    background-image: url('../../site/images/sep.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 10px;
    padding-left: 0px;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
ol#bc li a {
    font-size: 1em;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
}
ol#bc img {
    border: 0;
}

div#bc-title {
    overflow:hidden;
}

div#bc-title h1 {
    margin: 0;
    line-height: 30px;
    padding-top: 0px;
    float: left;
    font-size: 1.3em;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
}

div#bc-title h1.with-icon {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 34px; /* Moves text to allow background breadcrumb image to coexist */
}

div#bc-title h1.places-header { background-image:url('../../site/images/index-icons/places-bc.png'); }
div#bc-title h1.contact-header { background-image:url('../../site/images/index-icons/contact-bc.png'); }
div#bc-title h1.webcams-header { background-image:url('../../site/images/index-icons/webcams-bc.png'); }
div#bc-title h1.podcasts-header { background-image:url('../../site/images/index-icons/podcasts-bc.png'); }
div#bc-title h1.results-header { background-image:url('../../site/images/index-icons/results-bc.png'); }
div#bc-title h1.library-header { background-image:url('../../site/images/index-icons/library-bc.png'); }
div#bc-title h1.news-header { background-image:url('../../site/images/index-icons/news-bc.png'); }
div#bc-title h1.events-header { background-image:url('../../site/images/index-icons/events-bc.png'); }
div#bc-title h1.weather-header { background-image:url('../../site/images/index-icons/weather-bc.png'); }
div#bc-title h1.service_status-header { background-image:url('../../site/images/index-icons/service_status-bc.png'); }
div#bc-title h1.service-status-header { background-image:url('../../site/images/index-icons/service_status-bc.png'); }
div#bc-title h1.weblearn-header { background-image:url('../../site/images/index-icons/weblearn-bc.png'); }
div#bc-title h1.feature_vote-header { background-image:url('../../site/images/index-icons/feature_vote-bc.png'); }
div#bc-title h1.auth-header { background-image:url('../../site/images/index-icons/auth-bc.png'); }
/* End Breadcrumb Trail Styles */

/* Standard List Styles */
/* Content-List */
ul.content-list,
ul.link-list,
ol.directions-list,
ol.search-results {
    border-left: 1px solid rgba(255, 255, 255, 0.33);
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.content-list,
ol.directions-list
{
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#eee));
    background: -moz-linear-gradient(center top, #f3f3f3, #eee);
    color: #222;
}

ul.content-list a,
ol.directions-list a {
    color: #00f;
}

ul.content-list h3,
ol.directions-list h3 {
    color: #222;
    text-align: left;
    font-size: 1em;
    padding: 0;
    margin-bottom: 5px;
}

ul.content-list li,
ol.directions-list li {
    padding: 10px;
    border-top: 1px solid #98a1ac;
    background: none;
    color: #222;
}

ul.content-list li:first-child,
ul.link-list li:first-child,
ol.directions-list li:first-child,
ol.search-results li:first-child {
    border-top: none;
}
/* End Content-List */

/* Link-List */
ul.link-list,
ol.search-results {
    background-color: #002B4C;
    color: #ffffff;
}

ul.link-list li,
ol.search-results li {
    font-size: 1.3em;
    border-top: 1px solid #98a1ac;
    padding: 10px;
    display: block;
}

ul.link-list li a,
ol.search-results li a {
    color: #ffffff;
    text-decoration: none;
    display: block;

    padding-right: 20px; /* Moves background image (ul li a) away from edge */
    text-align: left;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../../site/images/icons/list-arrow.png'); /* Default background image */
}

ol.search-results li a img {
    float: left;
    border: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul.link-list li a.go-back,
ol.search-results li a.go-back {
    background-image: url('../../site/images/icons/list-arrow-left.png'); /* Default background image */
}
/* End Link-List */

ul li.page-break {
    border-top: 1px solid #9c0c0a;
}

/* Background images primarily for list items */
ul.link-list li a.phone { background-image:url('../../site/images/icons/list-phone.png'); }
ul.link-list li a.email { background-image:url('../../site/images/icons/list-email.png'); }
ul.link-list li a.external { background-image:url('../../site/images/icons/list-external.png'); }
ul.link-list li a.external-mobile { background-image:url('../../site/images/icons/list-external-mobile.png'); }
ul.link-list li a.audio { background-image:url('../../site/images/icons/list-audio.png'); }
ul.link-list li a.video { background-image:url('../../site/images/icons/list-video.png'); }
/* End background images for list items */

/* End Standard List Styles */


/* Used in external media, webcams and static maps */
div.backgrounded-image {
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
/* End */


/* News/Events/Library/Places(OSM) Articles */
div.article {
    text-align:left;
    color: #000000;
    margin: 0;
    padding: 2px;
}
/* End News Articles */

/* Contact Search Form + Feedback Form */
div.form {
    text-align: center;
    padding:5px; margin: 0;
}
div.form input#id_query {
    width:90%;
    font-size: 1.4em;
    height: 1.4em;
}

div.form input#id_email {
    width:90%;
    font-size: 1.4em;
    height: 1.4em;
}

div.form textarea#id_body {
    width:90%;
    font-size: 1.4em;
    font-size: 1.4em;
}

/* CSS 2.1 */
div.form button[type="submit"] {
    min-width: 80px ;
    font-size: 1.3em;
    min-height: 1.3em;
}
/* Contact Search Form + Feedback Form */

/* Input Buttons */
button, input[type="submit"], input[type="reset"] {
    display: inline-block;
    color: #fff;
    background: #838791 url(../../site/images/buttons/btn.bg.png) repeat-x 0px 0px;
    padding:5px 10px 6px 10px;
    font-weight:bold;
    /*text-shadow: 1px 1px 1px #111;*/
    border:1px solid rgba(0,0,0,0.4);
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
/* END Input Buttons */

/* Form sections */
div.form-section {
    margin: 10px;
    padding: 0px;

    background: #dfdfdf;
    background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#dfdfdf));
    background:-moz-linear-gradient(top, #eee, #dfdfdf);
    background:linear-gradient(top, #eee, #dfdfdf);

    -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
    -moz-box-shadow: 2px 2px 2px #333; -webkit-box-shadow: 2px 2px 2px #333; box-shadow: 2px 2px 2px #333;

    color: #333;
}
div.form-section h2 {
    color: #222;
    text-shadow: 2px 2px 2px #ccc;
    text-align: center;
    font-size: 0.95em;
    padding-top: 8px;
}

div.form-section dl {
    padding-top:4px;
}

div.form-section dl dd ul {
    list-style: none;
    padding-left:0;
}

div.form-section dl dt,
div.form-section dl dd {
    padding:0 8px;
    margin-left:0;
}

div.form-section dl dd {
    padding-bottom: 8px;
}

div.form-section dl input[type=text],
div.form-section dl textarea {
    width: 100%;
    height: 24px;
    border: 0;
    padding: 2px 0 2px 2px;
    margin: 0;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Liberation Sans", Arial, sans-serif;
    border: 1px solid #888;
}

div.form-section dl textarea { height: 5em; }

div.form-section ul.errorlist + input,
div.form-section ul.errorlist + textarea {
    background-color: #f7d9d9;
}

div.form-section dl dt {
    font-size: 1.2em;
    color: #333;
    margin-top:4px;
}

div.form-section dl ul.errorlist {
    list-style: none;
    padding: 4px;
    margin: 0 0 0 0;
    color: #301010;
}

div.form-section p.help-bubble {
    margin-right: 138px;
    margin-left: 8px;
}

div.form-section p.submit-buttons {
    display: block;
    float: right;
    width: 120px;
    margin: 0;
    padding: 8px;
    padding-top: 0;
}

div.form-section p.submit-buttons input {
    height: 30px;
    margin-top: 8px;
    font-size: 1.2em;
    width:100%;
}

div.form-section p.submit-buttons input:first-child {
    margin-top:0;
}
/* End form section */

/* Section formatting */

div.section {
    background: -moz-linear-gradient(top, #fff, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf));
    background: transparent #f2f2f2 url('../../site/images/gradients/gradient-50-nrWhite-Transparent.png') repeat-x;
    margin: 10px;
    -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    -moz-box-shadow: 2px 2px 2px #333; -webkit-box-shadow: 2px 2px 2px #333; box-shadow: 2px 2px 2px #333;
}

.stand-alone,
div.section > div.header:first-child {
    -webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; border-top-left-radius: 8px;
}

.stand-alone,
div.section ul.content-list:last-child,
div.section ul.link-list:last-child,
div.section ol.directions-list:last-child,
div.section div.section-content:last-child {
    -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-left-radius: 8px;
}

div.section table.content:last-child > *:last-child > tr:last-child > *:first-child {
    -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-left-radius: 8px;
}

div.section table.content:last-child > *:last-child > tr:last-child > *:last-child {
    -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
}

div.header {
    color: #222;
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.33);
    border-bottom: 1px solid #888;
    border-left: 1px solid rgba(255, 255, 255, 0.33);
    background-color: #dfdfdf;
    background: -moz-linear-gradient(top, #fff, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf));
}

div.header h2 {
    color: #222;
    text-shadow: 2px 2px 2px #ccc;
    text-align: left;
    font-size: 1.1em;
    padding-top: 3px;
}

/* CSS 2.1 */
div.header + ul.content-list,
div.header + ol.directions-list,
div.header + form,
div.header + div.section-content {
    border-top: 1px solid rgb(152, 161, 172);
}

div.section-content {
    padding:8px;
    background-color: #DFDFDF;
}
/* End Section Formatting */

/* Content tables */
table.content {
    border-spacing:0;
    width: 100%;
    /*text-shadow: 0px 1px 1px #fff;*/
}

table.content > * > tr.sub-section-divider > th,
table.content > thead > tr > th  {
    background: #DEE6FF;
    background: -webkit-gradient(linear, left top, left bottom, from(#A7BAC7), to(#DEE6FF));
    background:-moz-linear-gradient(center top, #A7BAC7, #DEE6FF);

    padding: 5px 5px 5px 7px;
    border: 0;
}

table.content > * > tr > * {
    border-bottom: 1px solid #888;
    border-top: 1px solid #fff;
    padding: 7px 3px;

    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#eee));
    background: -moz-linear-gradient(center top, #f3f3f3, #eee);
}
/* END Content */

/* Links which look like buttons */
div.button {
    background:#002147 url('../../site/images/icons/list-arrow.png') no-repeat;
    background-position: right center;
    margin: 4px 2px 4px auto;
    min-width: 70px;
    max-width: 100px;
    padding: 3px;

    box-shadow: 3px 3px 4px #999;-webkit-box-shadow: 3px 3px 4px #999;-moz-box-shadow: 3px 3px 4px #999;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;

    border-color: #ccc;
    border: 1px solid rgba(255,255,255,0.3);
    border-width: 1px 0 0 1px;
}

div.button > a {
    color: #fff;
    text-decoration:none;
    display: block;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

/* Buttons which look like links */
.as-text-link {
    background: none !important;
    border: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    color: #000000 !important;
    text-shadow: none !important;
    cursor: pointer;
}

.link-list .as-text-link {
    color: #ffffff !important;
}

/* AJAX loading screen */
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccc;
    background-image: url('../../site/images/loading.gif');
    background-position: 20% center;
    background-repeat: no-repeat;
    opacity: 0.75;
    z-index: 100;
}

#loading-cancel {
    position: fixed;
    top: 70%;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    z-index: 200;
}

/* Botton Links bottom-links 
   Used to create buttons on non opt-out pages (most) for feedback, sharing etc
*/

div#bottom-links {
   margin-top: 0.9em;
   margin-bottom: 0.9em;
   padding: 5px; 
}

div#bottom-links div.full-width, 
div#bottom-links div.half-width {
   margin-top: 0.1em;
   margin-bottom: 0.2em;
   float: left;
   /* Width gets overwritten for some devices */
   width: 50%;
}

div#bottom-links div.full-width {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    width: 100%;
}

div#bottom-links div.rim-left {
    width: 49%;
    float: left;
}

div#bottom-links div.rim-right {
    width: 49%;
    float: right;
}

div#bottom-links div.full-width a, 
div#bottom-links div.half-width a {
    margin: 0 0.2em 0 0.2em; 
    background-color: white; 
    padding: 0.6em; 
    text-align: center; 
    display: block;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em; 
    -moz-border-radius: 0.4em;
}

div.language-selector button {
    min-width: 7em;
    min-height: 2.5em;
    background-color: #fff;
    color: #00e !important;
    text-decoration: underline;
    font-weight: normal;
    font-family: "Liberation Sans",sans-serif;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border: 0;
    cursor: pointer;
}

div.half-width button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #00e !important;
    text-decoration: underline;
    font-weight: normal;
    font-family: "Liberation Sans",sans-serif;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border: 0;
    cursor: pointer;
}
/* End Bottom Links */
