li#menu-contact {background-image:url('../../site/images/index-icons/contact.svg');}
li#menu-places {background-image:url('../../site/images/index-icons/places.svg');}
li#menu-podcasts {background-image:url('../../site/images/index-icons/podcasts.svg');}
li#menu-webcams {background-image:url('../../site/images/index-icons/webcams.svg');}
li#menu-news {background-image:url('../../site/images/index-icons/news.svg');}
li#menu-events {background-image:url('../../site/images/index-icons/events.svg');}
li#menu-results {background-image:url('../../site/images/index-icons/results.svg');}
li#menu-library {background-image:url('../../site/images/index-icons/library.svg');}
li#menu-weather {background-image:url('../../site/images/index-icons/weather.svg');}
li#menu-weblearn {background-image:url('../../site/images/index-icons/weblearn.svg');}
li#menu-service_status {background-image:url('../../site/images/index-icons/service-status.svg');}
li#menu-service-status {background-image:url('../../site/images/index-icons/service-status.svg');}
li#menu-transport {background-image:url('../../site/images/index-icons/transport.svg');}
