<div class="section">
    <h2>About Brookes Mobile</h2>

    <div class="note"><div class="bubble pad-10">
    Mobile Brookes is being deeveloped through a collaborative 
    <a href="http://www.jisc.ac.uk/">JISC</a>-funded project involving Oxford University and Oxford Brookes University.
    The aim is to implement Oxford University's online portal for mobile devices, Mobile Oxford (the product of a previous
     JISC- funded project), in a different institution and explore the adaptations required to make it work effectively in its new context.
     <br /> <br />
     The core project team includes: <br /> <br />
     Richard Francis - Project Sponsor (Oxford Brookes) <br />
     Sebastian Rahtz - Project Sponsor (Oxford) <br /> <br/>
     Helen Thomson - Project Manager (Oxford Brookes ) <br />
     Tim Fernando - Project Manager (Oxford) <br /> <br />    
     Ashit Gajwani - Portal Developer (Oxford Brookes) <br />
     Alexander Dutton - Portal Developer (Oxford)
    
    </div></div>
</div>

<div class="section">
    <h2>Credits</h2>
    <div class="note"><div class="bubble pad-10">
        <p>
        The Mobile Brookes would like to thank the following organisations
        for providing the data used in the Portal:
        </p>
        
        <dl>
			<dt>Dailyinfo</dt>
			<dt>Association of Train Operating Companies</dt>
            <dt>Oxontime</dt>
			<dt>Oxfordshire County Council</dt>
			<dt>Stagecoach, Oxford Bus Company &amp; Thames Travel</dt>
			<dt>BBC</dt>
            <dt>Edina</dt>
            <dt>OpenStreetMap and Contributors</dt>
            <dt>Oxford University Computing Service</dt>
            <dt>Cloudmade</dt>
        </dl>
    </div></div>
</div>

<div class="section">
	<h2>Be aware</h2>
	<div class="note"><div class="bubble pad-10">
		<p>
			Using Brookes Mobile may incur a cost of data transmission from your network provider. Many providers now offer "unlimited" day, week or month passes, please check with your provider for more information.</p>
</div></div></div>
