{% extends "places/base.html" %}{% load molly_utils %}{% load molly_search %}

{% block content %}

{# Places Search #}
{% search_form %}
<form method="get" action="{% url search:index %}">
    <!-- Doing the devil's work below: couldn't get a CSS design to work with Blackberry 8900 so using Tables as a last resort. Tim F -->
<h2 class="invisible">Search Places</h2>    
<table class="search"><tbody>
        <tr><td>
                <label style="display:none;" for="id_query">Search Places Box</label>
                {{ search_form.query }}
        </td><td>
                <input type="hidden" name="application" value="places" title="Search Places" />
                {% ifequal style_group "dumb" %}
                    <button type="submit">Go!</button>
                {% else %}
                	<input type="image" src="{{ STATIC_URL }}site/images/buttons/search-button.png" title="Search" alt="Search" />
                {% endifequal %}
        </td></tr>    
        <tr><td>
                <p class="help-bubble top">Search by place name, bus stop number e.g. E7 or 69323498 or postcode</p>
        </td><td></td></tr></tbody>
</table>
</form>
{# End Places Search #}
  


{# Points of Interest #}
<div class="section" id="poi-category-selector">
<div class="header">
  <h2>Points of Interest</h2>
  {% include "geolocation/update_location_embed.html" %}
</div>
  <ul class="link-list category-list">
    <li class="nearby"><a href="{% url places:nearby-list %}">Nearby</a></li>
    <li class="categories"><a href="{% url places:category-list %}">By Category</a></li>
  </ul>
</div>
{# End Points of Interest #}

{% endblock %}
