{% extends "places/base.html" %}
{% load molly_utils %}{% load molly_maps %}
{% load i18n %}
{% block content %}

{% if train_service %}
<div class="section">
  <div class="header">
    <h2>{% trans "Live Train Information" %}
    {% if train_service.ldb.generatedAt %} - {{ train_service.ldb.generatedAt|localize_utc|date:"SHORT_TIME_FORMAT" }}{% endif %}</h2>
  </div>
  {% if train_service.error %}
  
  <ul class="content-list">
    <li>
	{% blocktrans %}There is currently a problem retrieving live departure information from the National Rail web site. Departure information may still be accessed<a href="http://pda.ojp.nationalrail.co.uk/en/pj/ldbboard/dep/{{ entity.identifiers.crs }}">directly from their web site</a>.{% endblocktrans %}
    </li>
  </ul>
  
  {% else %}
  
  <ul class="content-list no-round-bottom">
    <li>
	{% blocktrans with train_service.ldb.operator as operator %}Operated by {{ operator }}{% endblocktrans %}
    </li>
    {% if train_service.ldb.platform %}
    <li>
	{% blocktrans with train_service.ldb.platform as platform %}Calling at platform {{ platform }}{% endblocktrans %}
    </li>
    {% endif %}
    {% if train_service.ldb.disruptionReason %}
	<li>{{ train_service.ldb.disruptionReason|sanitize_html }}</li>
    {% endif %}
    {% if train_service.ldb.overdueMessage %}
        <li>{{ train_service.ldb.overdueMessage|sanitize_html }}</li>
    {% endif %}
  </ul>

  <table class="content">
    <thead>
      <tr>
        <th>{% trans "Calling Point" %}</th>
        <th>{% trans "Scheduled" %}</th>
        <th>{% trans "Expected / Actual" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for point in train_service.calling_points %}
        {% if point.joining %}
          <tr>
            <td colspan="3">
                <p>
		    {% blocktrans with point.joining.0.locationName as location %}This train then merges with a train from {{ location }}{% endblocktrans %}
		</p>
                <table class="content">
                  <thead>
                    <tr>
                      <th>{% trans "Calling Point" %}</th>
                      <th>{% trans "Scheduled" %}</th>
                      <th>{% trans "Expected / Actual" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for joining_point in point.joining %}
                    <tr{% if joining_point.at %} class="grey"{% endif %}>
                      <td>{{ joining_point.stop_num }} <a href="{{ joining_point.entity.get_absolute_url }}" class="inherit-color">{{ joining_point.locationName }}</a></td>
                      <td>{{ joining_point.st }}</td>
                      <td>{{ joining_point.et }}{{ joining_point.at }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </td>
          </tr>
        {% endif %}
        <tr{% if point.at %} class="grey"{% endif %}>
          <td>{{ point.stop_num }} <a href="{{ point.entity.get_absolute_url }}" class="inherit-color">{{ point.locationName }}</a></td>
          <td>{{ point.st }}</td>
          <td>{{ point.et }}{{ point.at }}</td>
        </tr>
        {% if point.splitting %}
          <tr>
            <td colspan="3">
                <p>
		    {% blocktrans with point.splitting.destination as destination %}This train then splits to go to {{ destination }}{% endblocktrans %}
		</p>
                <table class="content">
                  <thead>
                    <tr>
                      <th>{% trans "Calling Point" %}</th>
                      <th>{% trans "Scheduled" %}</th>
                      <th>{% trans "Expected / Actual" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for splitting_point in point.splitting.list %}
                    <tr{% if splitting_point.at %} class="grey"{% endif %}>
                      <td>{{ splitting_point.stop_num }} <a href="{{ splitting_point.entity.get_absolute_url }}" class="inherit-color">{{ splitting_point.locationName }}</a></td>
                      <td>{{ splitting_point.st }}</td>
                      <td>{{ splitting_point.et }}{{ splitting_point.at }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>

{% endif %}

{% if map %}
<div class="section">
    <div class="header">
        <h2>{% trans "Map" %}</h2>
    </div>
    <div class="section-content">
    {% render_map map %}
    </div>
</div>
{% endif %}

{% endblock %}
