{% extends "places/base.html" %}
{% load molly_maps %}{% load molly_utils %}

{% block title %}Update {{ entity.title }}{% endblock %}

{% block extrahead %}{{ block.super }}
<meta name="robots" content="noindex"/>{% endblock %}

{% block content %}

<div class="section">
  <h2>Important information</h2>
  
  <div class="article"><div class="bubble pad-5">
    <p>
      Thank you for wanting to improve the data provided by {{ site_name }}.
      However, before you submit any changes, you should be aware of the
      following terms.
    </p>
    
    <p style="margin-top:0.5em;">
      Your contribution will be released into the Public Domain, and then
      submitted to OpenStreetMap by {{ site_name }}.
    </p>
    
    <p style="margin-top:0.5em;">
      Your changes will be checked by a member of the {{ site_name }} team
      before being uploaded. {{ site_name }} may tidy or normalise the data you
      provide before they are uploaded using the {{ site_name }} OSM account.
    </p>
    
    <p style="margin-top:0.5em;">
      If you would like to be named as the original author of the changes,
      please provide your name and tick the attribution box. Your e-mail
      address will never be submitted to OSM, but may be used by us to clarify
      any changes you provide.
    </p>
    
    <p style="margin-top:0.5em;">
      You may be interested to read <a href="{% url places:static-openstreetmap %}">further information about
      OpenStreetMap and other ways in which one may contribute</a>.
    </p>
  </div></div>
</div>

<div class="section">
  <h2>Map</h2>
  <div class="note"><div class="bubble pad-10">
    You are submitting an update to the {{ entity.entity_type.verbose_name }}
    <em>&quot;{{ entity.title }}&quot;</em>.
  </div>
  
  {% render_location_map entity.location %}

</div>

<div class="article"><div class="bubble pad-5">
<form method="post" action=".">
  {% csrf_token %}
    <p>
      Not all fields will be relevant to the item you are updating, and all
      fields are optional.
    </p>
      
<table>
  <tbody>
    <tr>
      <th colspan="2">
        Provide your name and tick the box to be attributed for the change.
      </th>
    </tr>
    <tr>
      <td>{{ form.contributor_name.label }}</td>
      <td>{{ form.contributor_name }}</td>
    </tr>
    <tr>
      <td>{{ form.contributor_attribute.label }}</td>
      <td>{{ form.contributor_attribute }}</td>
    </tr>
    
    <tr>
      <th colspan="2">
        Your e-mail address is useful should we want to clarify any change you make.
      </th>
    </tr>
    <tr>
      <td>{{ form.contributor_email.label }}</td>
      <td>{{ form.contributor_email }}</td>
    </tr>
    
    <tr>
      <th colspan="2">
        The following are general properties for most types of item.
      </th>
    </tr>
    <tr>
      <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
    </tr>
    <tr>
      <td>{{ form.operator.label }}</td>
      <td>{{ form.operator }}</td>
    </tr>
    <tr>
      <td>{{ form.phone.label }}</td>
      <td>{{ form.phone }}</td>
    </tr>
    <tr>
      <td>{{ form.opening_hours.label }}</td>
      <td>{{ form.opening_hours }}</td>
    </tr>
    <tr>
      <td>{{ form.url.label }}</td>
      <td>{{ form.url }}</td>
    </tr>
    <tr>
      <td>{{ form.cuisine.label }}</td>
      <td>{{ form.cuisine }}</td>
    </tr>
    
    <tr>
      <th colspan="2">
        This next two about food apply mostly to pubs. For things that obviously serve food (e.g.
        restaurants), feel free to leave this empty.
      </th>
    </tr>
    <tr>
      <td>{{ form.food.label }}</td>
      <td>{{ form.food }}</td>
    </tr>
    <tr>
      <td>{{ form.food__hours.label }}</td>
      <td>{{ form.food__hours }}</td>
    </tr>

    <tr>
      <th colspan="2">
        If there is an ATM accessible at all hours here, please set this. This
        may be left blank if you are editing an ATM.
      </th>
    </tr>
    <tr>
      <td>{{ form.atm.label }}</td>
      <td>{{ form.atm }}</td>
    </tr>

    <tr>
      <th colspan="2">
        The following only apply to post boxes. The reference is normally
        printed at the bottom of the details on the post box.
      </th>
    </tr>
    <tr>
      <td>{{ form.collection_times.label }}</td>
      <td>{{ form.collection_times }}</td>
    </tr>
    <tr>
      <td>{{ form.ref.label }}</td>
      <td>{{ form.ref }}</td>
    </tr>

    <tr>
      <th colspan="2">
        For car parks and bicycle parking, please provide the number of spaces.
      </th>
    </tr>
    <tr>
      <td>{{ form.capacity.label }}</td>
      <td>{{ form.capacity }}</td>
    </tr>

    <tr>
      <th colspan="2">
        If you have any other information you think should be included, please
        tell us about it here.
      </th>
    </tr>
    <tr>
      <td colspan="2">{{ form.notes }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">
        If you are happy with your changes and agree to the terms above, you
        may now click 'Submit'.
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <input type="submit" value="Submit"/>
      </th>
    </tr>
  </tfoot>

</table>

</div></div></div>

</form>

{% endblock %}
