{% extends "webcams/base.html" %}

{% block pagetitleclass %}webcams-header with-icon{% endblock %}
{% block pagetitle %}Webcams{% endblock %}
{% block title %}Webcams{% endblock %}

{% block content %}


<div class="section">
<div class="header">
	<h2>Webcams</h2>
</div>
		<ul class="link-list">
{% for webcam in webcams %}
		<li {% if forloop.last %}class="round-bottom"{% endif %}>
        	<a href="{% url webcams:webcam webcam.slug %}">{{ webcam.title }}</a>
    	</li>
{% endfor %}
		</ul>
	</div>
{% endblock %}
