SHELL=/bin/sh
MAILTO=alexander.dutton@oucs.ox.ac.uk

# Update OSM data once a week at 9:05AM on a Monday morning
5 9 * * mon        cd /Erewhon/mobile_portal/mobile_portal ; python manage.py update_osm

# Update podcasts once an hour
10 * * * *         cd /Erewhon/mobile_portal/mobile_portal ; python manage.py update_podcasts

# Update OxPoints once an hour
15 * * * *         cd /Erewhon/mobile_portal/mobile_portal ; python manage.py update_oxpoints

# Update RSS feeds every 15 minutes
*/15 * * * *       cd /Erewhon/mobile_portal/mobile_portal ; python manage.py update_rss

# Update weather every half an hour
*/30 * * * *      cd /Erewhon/mobile_portal/mobile_portal ; python manage.py update_weather

# Keep k5start running to make sure our kerberos ticket is up to date for LDAP
*/10 * * * *      start-stop-daemon --start --pidfile /var/cache/mobile_portal/k5start.pid --exec /usr/local/bin/k5start -- -b -p /var/cache/mobile_portal/k5start.pid -f /Erewhon/apache/webauth/m.ox.ac.uk.keytab webauth/m.ox.ac.uk -k /tmp/krb5cc_mp
