<div class="location-box" id="location-box" style="position:relative; background-color:white; -webkit-border-radius:6px; -moz-border-radius:6px; margin:15px 10px 2px; padding:10px 50px">
{% if location_error %}<p class="location-error">{{ location_error }}</p>{% endif %}
<span class="location">{{ geolocation.name|default:"No location set" }}</span>
<form method="post" action="{% url geolocation:index %}" class="location-form">
        <label style="display:none;" for="location-name">Set a new location:</label>
        <input class="return_url" name="return_url" type="hidden" value="{{ return_url|default:"" }}"/>
        <input class="location-name" name="name" value="{{ location }}"/>
        <input name="method" type="hidden" value="geocoded"/>
        <input class="location-submit" type="submit" value="Update"/>

</form>

<div style="position:absolute; left:10px; top:4px;">
  <img style="font-size:30px; line-height:30px" src="{{ MEDIA_URL }}png/location.png" alt="⬠"/>
</div>
</div>
