<p>Did you mean&hellip;</p>

{% if map_url %}
{% ifnotequal style_group "dumb" %}
    <div class="backgrounded-image" style="background-image:url('{{ map_url }}'); height:{{ map_height }}px">
    {% include "places/map_elements.html" %}
    </div>
{% else %}
    <img src="{{ map_url }}}" alt="Map"><br />
    {% include "places/map_elements.html" %}
{% endifnotequal %}
{% endif %}

<ul>
{% for result in results %}
    <li>
        <form method="post" action="{% url geolocation:index %}" class="submit-location-form">
            <input type="hidden" name="name" value="{{ result.name }}"/>
            <input type="hidden" name="longitude" value="{{ result.location.0 }}"/>
            <input type="hidden" name="latitude" value="{{ result.location.1 }}"/>
            <input type="hidden" name="accuracy" value="{{ result.accuracy }}"/>
            <input type="hidden" name="method" value="geocoded"/>
            <input type="hidden" name="return_url" value="{{ return_url|default:"" }}"/>
            <button class="submit-location-form-button" type="submit" name="index" style="width:100%">{{ forloop.counter }}. {{ result.name }}</button>
        </form>
    </li>
{% endfor %}
</ul>
