{% extends "home/base.html" %}

{% block breadcrumbs %}
{{ block.super }}
    <li><a href="{% url core_customise %}">Customise</a></li>
{% endblock %}

{% block extrahead %}
{{ extrahead.super }}
<script src="{{ MEDIA_URL }}js/customise.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<form method="post" action=".">

<table class="front_page_links">
    <thead>
        <tr>
            <th>Show</th>
            <th>Name</th>
            <th>Order</th>
    <tbody>
{% for form in forms %}
        <tr>
            <td class="displayed">{{ form.displayed }}</td>
            <td>{{ form.instance.title }}</td>
            <td class="order">{{ form.order }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<p><input type="submit" value="Update"/></p>

</form>

{% endblock %}
