h2 {margin-bottom: 0.4em;}

h3 {margin-bottom: 0.3em;
	font-size: 1.3em;}

a { color: #373F7A;
	text-decoration: none;}
a:hover {text-decoration: underline;}

#header {
	background-color: #cfecef;
 	background: -moz-linear-gradient(bottom, #cfecef 0%, #fff 100%);
 	background: -webkit-gradient(linear, left bottom, left top, from(#cfecef), to(#fff));
 	border-bottom: 1px solid #aaa;
}
#header .container {position: relative;}
#header h1 {
	font-size: 6em;
	font-weight: bold;
	text-shadow: 2px 2px 7px #999;
	margin-bottom: 10px;
}

#header ul {list-style:none; 
	margin: 0;
	position: absolute;
	top: 70px;
	right: 0;
	font-size: 1.2em;
}
#header ul li {
	display:inline;
	padding: 0.5em 1em;
    border-left: 1px solid #ccc;
}
#header ul li.first {border: 0;}
#header p {margin-bottom: 1em;}

#main {margin-top: 2em;}

#sidebar {margin-top: 2em;}
#sidebar h2 {display:none;}
#sidebar ul {
	list-style:none;
	padding-left: 0;
	margin-right: 0.3em;
	font-size: 0.9em;
}