{% extends "molly_default/home/index.html" %}
{% load oxford_term_dates %}
{% load oxford_apps_river_status %}

{% block date %}{% oxford_date_today %}{% endblock %}

{% block below-weather %}
        <tr><td colspan="2"><hr/></td></tr>
	<tr>
	{% flag_status %}
	{% for flag in flag_status %}
	    <td title="{{ flag.get_status_display }}">{{ flag.name }}: <img src="{{ flag.get_icon_url }}" alt="{{ flag.get_status_display }}" width="16" height="16"/></td>
	{% endfor %}
	</tr>  
	<tr>
	  <td colspan="2">
	    Correct at {{ flag_status.0.updated|date:"H:i" }} <a href="{% url home:static_about %}#flag">disclaimer</a>
	  </td>
	</tr>
{% endblock %}