{% extends "base.html" %}{% load i18n %}

{% block content %}

<div class="section">
  <div class="header">
    <h2>{% trans "Hit Analysis" %}</h2>
  </div>

  <ul class="link-list">
    <li><a href="{% url stats:popular-pages %}">{% trans "Most Popular Pages" %}</a></li>
    <li><a href="{% url stats:slow-pages %}">{% trans "Slow Pages" %}</a></li>
    <li><a href="{% url stats:popular-404s %}">{% trans "Most Popular 404s" %}</a></li>
    <li><a href="{% url stats:popular-devices %}">{% trans "Most Popular Devices" %}</a></li>
  </ul>

</div>

{% endblock %}