{% extends "base.html" %}{% load i18n %}

{% block content %}

<div class="section">
  <div class="header">
    <h2>{{ title }}</h2>
  </div>
    
    <table class="content">
      <thead>
        <tr>
          <th>{% trans "Device" %}</th>
          <th>{% trans "Share" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
        <tr>
          <td><a href="http://db.wurflpro.com/device/results?user_agent=&identifier={{ device.device_id }}&uaprof=&brand=&model=">{{ device.device_id }}</a></td>
          <td>{{ device.count }}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}