{% extends "feeds/events/base.html" %}{% load molly_search %}
{% load i18n %}
{% block content %}

<div class="section">
  <div class="header">
        <h2>{% trans "Feeds" %}</h2>
  </div>
    <ul class="link-list">
{% for feed in feeds %}
        <li>
            <a href="{{ feed.get_absolute_url }}">{{ feed.title }}</a>
        </li>
{% empty %}
    {% if more_in_all %}
	<li><em>{% trans "Sorry, there are no event feeds in your language." %}</em></li>
    {% endif %}
{% endfor %}
{% if more_in_all %}
  <li><a href="{% url events:index %}?all">{% trans "View events in all languages" %}</a></li>
{% endif %}
    </ul>
</div>


{% endblock %}
