{% extends "feeds/events/base.html" %}{% load molly_utils %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
            <li><a href="{% url events:index %}">
                <img src="{{ STATIC_URL }}images/index-icons/rss-bc.png" alt="Events"/>
            </a></li>
{% endblock %}

{% block pagetitle %}{% trans "Events feed" %}{% endblock %}
{# Significant whitespace on line below #}
{% block title %}{% trans "Events feed" %}: {{ feed.title }}{% endblock %}

{% block content %}

<div class="section">
<div class="header">
    <h2>{{ feed.title }}</h2>
</div>
    <ul class="link-list">
{% for item in feed_items %}
        <li>
            <a href="{{ item.get_absolute_url }}">
                {{ item.title }}<br />
                <small><em>
                {% if item.dt_start %}
                    {% trans "Starts:" %} 
                    {% if item.dt_start|this_year %}
                        {% if item.dt_start|date:"H:i" != "00:00" %}
                            {{item.dt_start|date:"l j M \a\t H:i"}}
                        {% else %}
                            {{item.dt_start|date:"l j M"}}
                        {% endif %}
                    {% else %}
                        {% if item.dt_start|date:"H:i" != "00:00" %}
                            {{item.dt_start|date:"j M Y \a\t H:i"}}
                        {% else %}
                            {{item.dt_start|date:"j M Y"}}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if not item.last_modified_local|this_year %}
                        {{ item.last_modified_local|date:"j M Y" }}
                    {% else %}
                        {{ item.last_modified_local|date:"j M"}}
                    {% endif %}
                {% endif %}
                </em></small>
            </a>
        </li>
{% endfor %}
    </ul>
</div>

{% endblock %}
