{% extends "feeds/events/base.html" %}{% load molly_maps %}
{% load i18n %}{% load molly_utils %}
{% block breadcrumbs %}
{{ block.super }}
            <li><a href="{% url events:index %}">
                <img src="{{ STATIC_URL }}images/index-icons/rss-bc.png" alt='{% trans "Events" %}'/>
            </a></li>
            <li><a href="{% url events:item-list item.feed.slug %}">
                &hellip;
            </a></li>
{% endblock %}

{% block pagetitle %}{% trans "Event" %}{% endblock %}
{# Significant whitespace on line below #}
{% block title %}{% trans "Event" %}: {{ item.title }}{% endblock %}

{% block content %}

<div class="section">
    <h2>{{ item.title }}</h2>
    
    <div class="article"><div class="bubble pad-5">
        {{ description|safe }}
        <br />
        
        <small><em>
            {{ item.last_modified_local|date:"j M Y \a\t H:m" }}<br />
			{# Significant whitespace on line below #}
            {% trans "Link:" %} <a href="{{ item.link }}" title="{{ item.title }}">{{ item.link }}</a>
        </em></small>
    </div></div>
</div>

{% if item.venue %}
<div class="section">
	<div class="header">
		<h2>{{ item.venue.name }}</h2>
	</div>
	{% if item.venue.address %}
		<div class="pad-5"><div class="note">
			<p>{{ item.venue.address }}</p>
		</div></div>
	{% endif %}
	{% if item.venue.location %}
		{% render_location_map item.venue.location %}
	{% endif %}
	
    <ul class="link-list">
		{% if item.venue.entity %}
			<li>
				<a href="{{ item.venue.entity.get_absolute_url }}">
					{{ item.venue.entity.title }}
				</a>
			</li>
		{% endif %}
		{% if item.venue.telephone %}
			<li>
				<a class="phone" href="{{ item.venue.telephone|telephone_uri }}">
				  {% blocktrans with item.venue.name as title %}Call <em>{{ title }}</em>{% endblocktrans %}
				  <br/>
				  <small>{{ item.venue.telephone|telephone:"nolink" }}</small>
				</a>
			</li>
		{% endif %}
    </ul>
    
</div>
{% endif %}

{% endblock %}
