{% extends "feeds/events/base.html" %}{% load molly_maps %}

{% block breadcrumbs %}
{{ block.super }}
            <li><a href="{% url events:index %}">
                <img src="{{ STATIC_URL }}images/index-icons/rss-bc.png" alt="News"/>
            </a></li>
            <li><a href="{% url events:item-list item.feed.slug %}">
                &hellip;
            </a></li>
{% endblock %}

{% block pagetitle %}Event{% endblock %}
{% block title %}Event: {{ item.title }}{% endblock %}

{% block content %}

<div class="section">
    <h2>{{ item.title }}</h2>
    
    <div class="article"><div class="bubble pad-5" style="margin: 2px;">
        {{ description|safe }}
        <br />
        
        <small><em>
            {{ item.last_modified_local|date:"j M Y \a\t H:m" }}<br />
            Link: <a href="{{ item.link }}" title="{{ item.title }}">{{ item.link }}</a>
        </em></small>
    </div></div>
</div>

<div class="section">
    <h2>Location</h2>
{% if item.location_point %}
    {% render_location_map item.location_point %}
{% endif %}

    <ul>
{% if item.location_entity %}
        <li>
            <a href="{{ item.location_entity.get_absolute_url }}">
                {{ item.location_entity.title }}
            </a>
        </li>
{% endif %}
        <li>
            <a class="external-mobile" href="{{ item.location_mobile_url }}">
                <em>{{ item.location_name }}</em> at Daily Info
            </a>
        </li>
    </ul>
    <!-- <div class="article"> -->
    
</div>

<div class="section">
  <div class="article">
    This information is provided courtesy of
    <a href="http://www.dailyinfo.co.uk/phone/">Daily Info</a>.
  </div>
</div>

{% endblock %}
