

/* OUCS Status */
ul.service-status-list li.service-status-item {
    background: #121C28;
    color: #ffffff;
    background-position:10px center;
    background-repeat:no-repeat;
    border:none;
    padding-left:45px;
}
ul.service-status-list li.service-status-up { background-image:url('../../service_status/images/service-up.png'); background-color: #102821;}
ul.service-status-list li.service-status-partial { background-image:url('../../service_status/images/service-partial.png'); background-color: #272810;}
ul.service-status-list li.service-status-unknown { background-image:url('../../service_status/images/service-unknown.png'); background-color: #101b28;}
ul.service-status-list li.service-status-down { background-image:url('../../service_status/images/service-down.png'); background-color: #281010;}

span.service-status-status, span.service-status-detail { font-size:90%; }
span.service-status-detail { font-style:italic; }
/* End OUCS Status */
