

body {
    margin: 0;
    font-family: "Liberation Sans", sans-serif;
    font-size:9pt;
    /*background-color:#98a1ac;*/
	background-image:url('../png/stripes.png');
    /*overflow:hidden;*/
    -webkit-text-size-adjust: none;

    
}