
ul.ml {
    list-style:none;
    padding:0.2em;
    padding:0px;
    margin-top: 0;
    margin-bottom:0;
}

ul.ml li {
    color:#ffffff;
    font-size:12pt;
    padding:10px;
    border-top:1px solid #98a1ac;
    color:#000000;
    background-color:#002147;
    background-position:right center;
    background-repeat:no-repeat;
}

ul.ml li.header {
    background-color:#48505a;
    background-image:none;
    font-weight:bold;
    text-align:center;
    color:white;
    padding:2px;
    font-size:14pt;
}

ul.ml li.phone {
    background-image:url('../../png/icons/list-phone.png');
}

ul.ml li.email {
    background-image:url('../../png/icons/list-email.png');
}

ul.ml li a {
    background-image:url('../../png/icons/list-arrow.png');
    text-decoration: none;
    display:block;
    padding-right:21px;
    text-align:left;
}

ul.ml li.top, h2.section-header {
    border-top:0px;
    border-radius-topleft:8px;
    -moz-border-radius-topleft:8px;
    -webkit-border-top-left-radius:8px;
    border-radius-topright:8px;
    -moz-border-radius-topright:8px;
    -webkit-border-top-right-radius:8px;
}

ul.ml li:last-child, div.list-footer {
    border-radius-bottomleft:8px;
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-left-radius:8px;
    border-radius-bottomright:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-bottom-right-radius:8px;
}

ul.ml li.notbottom {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

div.front-section, div.section, div.section-nopad {
    margin:10px;
    padding:8px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-color:#ffffff;
    color:#000000;
}

div.section, div.section-nopad {
    background-color:#002147;
    color:#ffffff;
}

div.list-section, div.section-nopad {
    margin:10px;
    padding:0;
}

div.section-content {
    margin:8px;
}

h2.section-header, div.list-footer {
    background-color:#48505a;
    background-image:none;
    font-weight:bold;
    text-align:center;
    color:white;
    padding:2px;
    font-size:14pt;
    margin-bottom:0;
    text-decoration:none;
}

div.list-footer {
    border-top:1px solid #98a1ac;
    padding:10px;
}

div.list-footer a {
    color:#ffffff;
    text-decoration:none;
    display:block;
}

div.list-note {
    background-color:#48505a;
    padding:10px;
    color:#ffffff;
    font-size:12pt;
    
}

div.bubble {
    text-align:center;
    color:#002147;
    font-size:12pt;
    background-color:#ffffff;
    padding:10px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
