
/* Additions by Tim */

div#header {
    width:100%;
    height: 51px;
}

div.search-box {
    position:fixed;
    right:8px;
    top: 12px;
}

input#id_query {
    float:left;
    height:24px;
    border:0;
    width:125px;
    font-size: 1.2em;
    border: 2px solid #dddddd;
}

input#search-button { 
    float:right;
}

/* End Additions by Tim */


/* index.css */
div#title {
/*    width: 100%; */
    position: fixed;
    padding-left:5px;
    padding-top: 5px;
    text-align: left;
}

/* end index.css */

/* index-buttons.css */
ol.icon-menu {
    list-style:none;
    margin-top:0;
    padding:0;
    padding-bottom:6px;
}

ol.icon-menu li {
    display:inline-block;
    margin-left:0px;
    margin-top:0px;
    background-repeat:no-repeat;
    background-position:center 10px;
    overflow:hidden;
}

ol.icon-menu li a {
    width:60px;
    height:2em;
    padding:4px;
    padding-top:75px;
    text-align:center;
    display:block;
    text-decoration:none;
}

li#menu-contact {
    background-image:url('../../png/index-icons/contact.png');
}

li#menu-olis {
    background-image:url('../../png/index-icons/podcasts.png');
}

li#menu-maps {
    background-image:url('../../png/index-icons/maps.png');
}

li#menu-podcasts {
    background-image:url('../../png/index-icons/podcasts.png');
}

li#menu-webcams {
    background-image:url('../../png/index-icons/webcams.png');
}

li#menu-rss {
    background-image:url('../../png/index-icons/rss.png');
}

li#menu-results {
    background-image:url('../../png/index-icons/results.png');
}

li#menu-z3950 {
    background-image:url('../../png/index-icons/z3950.png');
}

li#menu-weather {
    background-image:url('../../png/index-icons/weather.png');
}


/* End index-buttons.css*/
 
/* base.css */

body {
    margin: 0;
    font-family: "Liberation Sans", sans-serif;
    font-size:9pt;
    /*overflow:hidden;*/
    -webkit-text-size-adjust: none;
    text-align: left;
    
}

div.container {
    padding:0px;
    overflow:hidden;
}

div.content {
    padding:0px;
    vertical-align:top;
    text-align:left;
}

a {
    color:#002147;
    text-decoration:underline;
}

p {
    margin:0;
}

.nodisplay {
    display:none;
}

hr {
	clear:both;
	margin-bottom:2px;
	height:1px;
	color:#002147;
	background-color:#002147;
	border:0;
	
}

div.clearhidden {
    clear:both;
    visibility:hidden;
}

.nobr {white-space: nowrap}

button.as_link {
    border:none;
    text-decoration:underline;
    color:#00f;
    cursor:pointer;
    background-color:transparent;
    text-align:center;
    white-space:nowrap;
    padding-left:0;
}

div.weather {
    float:right;
    width:100px;
    text-align:right;
    overflow:hidden;
}

div.weather span {
    padding-top:0px;
    line-height:15px;
    font-size:15px;
    display:block;
}

div.weather .temperature {
    margin-top:6px;
    margin-bottom:3px;
}
div.weather .wind_speed {
    margin-top:3px;
    margin-bottom:6px;
}
    
div.weather img {
    float:right;
}

div.login {
    float:right;
    width:46px;
    height:46px;
    overflow:hidden;
    margin-left:5px;
}

div.openlayers_map {
    width:100%;
    height:200px;
}

body.landscape div.openlayers_map {
    width:100%;
    height:100%;
}

div.map_pane, div.details_pane {
    width:100%;
}

body.landscape div.map_pane, body.landscape div.details_pane {
    width:50%;
    display:inline-block;
    height:100%;
    vertical-align:top;
}

body.landscape div.details_pane {
    overflow:auto;
}

div.submit-line {
    width:100%;
    padding-bottom:8px;
}


/* Style for map elements */

div.backgrounded-image {
    background-repeat:no-repeat;
    background-position: center center;
    position:relative;
}

a.zoom-out, a.zoom-in {
    padding:5px;
    display:block;
}

a.zoom-out img, a.zoom-in img{
    border:0;
}

a.zoom-out {
    float:left;
}

a.zoom-in {
    float:right;
}

div.osm-license {
    position:absolute;
    top:auto;
    right:0;
    bottom:0;
    font-size:8pt;
    text-align:right;
    background-color: rgba(255, 255, 255, 0.5);
    padding:2px;
    color: #000000;
}

dl.feedback dd, dl.feedback dl{
    margin-left:0;
    padding:0 6px;
}

dl.feedback input, dl.feedback textarea {
    width:100%;
    border:1px solid #888;
    padding:0;
   
}

/* End base.css */

/* breadcrumbs.css */
div.header {
    height:34px;
    width:100%;
    background:url('../../png/header_bg_transparent.png') repeat-x scroll center top; 
    overflow:hidden;
}

ol.breadcrumbs {
    list-style:none;
    padding-left:0;
    margin:0px;
    display:block;
}

ol.breadcrumbs li {
    border-style: none solid none none;
    border-width: 0 medium 0 0;
    border-color: white;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
 
    display:block;
    float:left;
    height:30px;
    padding:2px 8px 2px 0;
    line-height:30px;
    overflow:hidden;
}

ol.breadcrumbs li a {
    font-size:12pt;
    
    vertical-align:top;
    color:#ffffff;
    text-decoration:none;
}

ol.breadcrumbs img {
    border:0;
}

h1 {
    font-size:12pt;
    text-align:left;
    color:#ffffff;
    margin-top:2px;
    padding-top:4px;
    whitespace:no-wrap;
    height:30px;
    
}
h1 {
    vertical-align:middle;
    float:left;
}

h1.with-icon {
    background-repeat:no-repeat;
    background-position:left middle;
    padding-left:34px;
}

h1.maps-header {    background-image:url('../../png/index-icons/maps-bc.png');}
h1.contact-header {  background-image:url('../../png/index-icons/contact-bc.png');}
h1.webcams-header {  background-image:url('../../png/index-icons/webcams-bc.png');}
h1.podcasts-header { background-image:url('../../png/index-icons/podcasts-bc.png');}
h1.results-header { background-image:url('../../png/index-icons/results-bc.png');}
h1.z3950-header {   background-image:url('../../png/index-icons/z3950-bc.png');}
h1.rss-header {     background-image:url('../../png/index-icons/rss-bc.png');}
h1.weather-header { background-image:url('../../png/index-icons/weather-bc.png');}

/* End breadcrumbs.css */


/* touch.css */
body {
	background:#bbc4ce url('../../png/gradients/gradient-backdrop-iphone.png') repeat-x scroll left top; */
}


ul.ml, dl.ml, ol.ml {
    list-style:none;
    padding:0.2em;
    padding:0px;
    margin-top: 0;
    margin-bottom:0;
}

ul.ml li, ol.ml li, table.section-table tr, dl.ml dt, dl.ml dd {
    color:#ffffff;
    font-size:12pt;
    border-top:1px solid #98a1ac;
    background-color:#002B4C; 
	padding-right: 10px;
}


ul.ml li.non-link-item, dl.ml dt, ol.ml li.non-link-item {
	padding:10px;
}

ul.ml li.subitem, dl.ml dd {
    background-color:#103157;
    margin: auto auto auto 16px;
}

table.section-table {
    border-collapse:collapse;
    width:100%;
}

table.section-table th:first-child, table.section-table td:first-child {
    padding-left:10px;
}

table.section-table tr.notopborder {
    border-top:0;
}

table.section-table tr {
	padding: 5px 5px 5px 5px;
}

table.section-table:last-child {
    margin-bottom:10px;
}


ul.ml li.header {
    background-color:#48505a;
    background-image:none;
    font-weight:bold;
    text-align:center;
    color:white;
    padding:2px;
    font-size:14pt;
}

ul.ml a, ol.ml a, dl.ml a, button.as_link  {
    background-image:url('../../png/icons/list-arrow.png');
}

ul.ml .phone {
    background-image:url('../../png/icons/list-phone.png');
}

ul.ml .email {
    background-image:url('../../png/icons/list-email.png');
}

ul.ml .external {
    background-image:url('../../png/icons/list-external.png');
}

ul.ml .external-mobile {
    background-image:url('../../png/icons/list-external-mobile.png');
}

ul.ml span.audio {
    background-image:url('../../png/icons/list-audio.png');
}

ul.ml span.video {
    background-image:url('../../png/icons/list-video.png');
}

ul.ml span.audio, ul.ml span.video {
    display:block;
    background-repeat:no-repeat;
    padding-left:25px;
    background-position:left 2px;
}

ul.ml li a, ol.ml li a, dl.ml dd a, button.as_link, table.section-table a {
	font-size:12pt;
    color:#ffffff;
    text-decoration: none;
    display:block;
	padding:10px;
    padding-right:21px;
    text-align:left;
	background-position:right center;
    background-repeat:no-repeat;

}

table.section-table a {
    padding:0;
    text-decoration:underline;
}

ul.ml a.no-icon {
    background-image:none;
}

div.list-section .top, h2.section-header, h3.section-header {
    background:#002b4C url('../../png/header_bg_transparent.png') repeat-x; 
    border-top:0px;
    border-radius-topleft:8px;
    -moz-border-radius-topleft:8px;
    -webkit-border-top-left-radius:8px;
    border-radius-topright:8px;
    -moz-border-radius-topright:8px;
    -webkit-border-top-right-radius:8px;
	
}

ul.ml li:last-child, ol.ml li:last-child, div.list-footer {
    border-radius-bottomleft:8px;
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-left-radius:8px;
    border-radius-bottomright:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-bottom-right-radius:8px;
}

ul.ml li.notbottom {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

div.front-section, div.section, div.section-nopad {
    text-align:center;
    margin:10px;
    padding:4px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-color:#ffffff; 
    color:#000000;
}

div.section, div.section-nopad {
    background-color:#002B4C;
    color:#ffffff;
}

div.list-section, div.section-nopad {
    margin:10px;
    padding:0;
    background-color:#002B4C;
}

div.section-content {
    padding:8px;
    background-color:#ffffff;
    color:#000000;
    text-align:left;
}

div.section-content a {
    color: #0000ff;
}

div.section-content p {
    margin-bottom:0.5em;
    
}

h2.section-header, h3.section-header, div.list-footer {
    background-color:#002147;

	background:url('../../png/header_bg_transparent.png') repeat-x; 
    text-align:center;
    color:white;
    padding:2px;
    font-size:12pt;
    margin-bottom:0;
    text-decoration:none;
}

h3.section-header {
    font-size:12pt;
}

div.list-footer {
    border-top:1px solid #98a1ac;
    padding:10px;
}

div.list-footer a {
    color:#ffffff;
    text-decoration:none;
    display:block;
}

div.list-note {
    background-color:#002B4C;
    padding:10px;
    color:#ffffff;
    font-size:12pt;
    
}

div.hide-overflow {
    text-align:center;
}

div.hide-overflow img {
    overflow:hidden;
}

div.bubble {
    text-align:center;
    color:#002147;
    font-size:12pt;
    background-color:#ffffff;
    padding:10px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#location_update_container div.section-nopad, #location_update_container div.list-section {
    margin:0;
    #border:2px solid #ffffff;
    
}

#location_update_container h2 {
    margin:0;
}

ul.popup-tabs {
    list-style: none;
    margin:0;
    padding:4px;
    padding-bottom:0;
    margin-bottom:4px;
}

ul.popup-tabs li {
    display:inline;

}

ul.popup-tabs li a {
    text-decoration:none;
    margin:2px;
    margin-bottom:0;
    padding:8px 10px;
    padding-bottom:4px;
    #border:2px solid #ffffff;
    border-radius-topleft:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-radius-topright:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-bottom:0;
    background-color:#48505A;
    color:#ffffff;
    font-weight:bold;
    font-size:11pt;
}

ul.popup-tabs li.not-tab a {
    border:0;
    padding:2px;
    margin:4px;
    margin-left:10px;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    color:#002147;
    background-color:transparent;    
}

div.wait-tab {
    background-image:url('../../gif/wait24trans.gif');
    background-position:center;
    height:100px;
    background-repeat:no-repeat;
    background-color: #002147;
    margin-top:0px;
    
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

div.pagination-nav {
    text-align:center;
    font-weight:normal;
    font-size:11pt;
}

div.pagination-nav a img {
    border:0;
}

div.pagination-nav a.prev {
    float:left;
}

div.pagination-nav a.next {
    float:right;
}

/* End touch.css */
