{% extends "maps/base.html" %}{% load maps %}{% load portal_misc %}

{% block content %}

{% include "maps/metadata/real_time_information.html" %}
{% include "maps/metadata/oxpoints.html" %}
{% include "maps/metadata/osm.html" %}



{% if entity.metadata.osm.tags.opening_hours or entity.metadata.osm.tags.cost %}
<div class="section">
  <h2>Further information</h2>
  <table class="section-table">
    <tbody>
{% if entity.metadata.osm.tags.opening_hours %}
      <tr>
        <th>Opening hours:<th>
        <td>{{ entity.metadata.osm.tags.opening_hours }}</td>
      </tr>
{% endif %}
{% if entity.metadata.tags.cost %}
      <tr>
        <th>Visitor admission:<th>
        <td>{{ entity.metadata.osm.tags.cost|capfirst }}</td>
      </tr>
{% endif %}
    </tbody>
  </table>
</div>
{% endif %}

<div class="section">
    <h2>Map</h2>
	{% if entity.location %}
	
	{% ifnotequal style_group "dumb" %}
    	<div class="backgrounded-image" style="background-image:url('{% map_url entity.location %}'); height:{{ map_height }}px">
    		{% include "maps/map_elements.html" %}
    	</div>
    {% else %}
        <img src="{% map_url entity.location %}" alt="Map"><br />
        {% include "maps/map_elements.html" %}
    {% endifnotequal %}
    
	<ul>
	    <li class="round-bottom"><a href="{% url maps:entity_nearby_list entity.identifier_scheme entity.identifier_value %}" rel="nofollow">Find things near here</a></li>
	</ul>
	{% else %}
	    <div class="note"><div class="bubble">
	        We do not yet have a location for this {{ entity.entity_type.verbose_name }}.
	    </div></div>
	{% endif %}
</div>

{% endblock %}
