{% extends "maps/base.html" %}

{% block extrahead %}{{ block.super }}{% if entity %}
<meta name="robots" content="noindex" />{% endif %}{% endblock %}

{% block content %}

<div class="section">
  <h2>Public</h2>
	<ul>
	{% for entity_type in public %}{% if entity %}
	    <li{% if forloop.last %} class="round-bottom"{% endif %}><a href="{% url maps:entity_nearby_detail entity.entity_type.slug,entity.display_id,entity_type.slug %}">{{ entity_type.verbose_name_plural|capfirst }}</a></li>
	{% else %}
	    <li{% if forloop.last %} class="round-bottom"{% endif %}><a href="{% url maps:nearby_detail entity_type.slug %}">{{ entity_type.verbose_name_plural|capfirst }}</a></li>
	{% endif %}{% endfor %}
	</ul>
</div>

<div class="section">
  <h2>University of Oxford</h2>
	<ul>
	{% for entity_type in university %}{% if entity %}
	    <li{% if forloop.last %} class="round-bottom"{% endif %}><a href="{% url maps:entity_nearby_detail entity.entity_type.slug,entity.display_id,entity_type.slug %}">{{ entity_type.verbose_name_plural|capfirst }}</a></li>
	{% else %}
	    <li{% if forloop.last %} class="round-bottom"{% endif %}><a href="{% url maps:nearby_detail entity_type.slug %}">{{ entity_type.verbose_name_plural|capfirst }}</a></li>
	{% endif %}{% endfor %}
	</ul>
</div>

{% endblock %}
