{% extends "feeds/news/base.html" %}{% load molly_search %}
{% load i18n %}
{% block content %}

{# News Search #}
{% search_form %}
<form method="get" action="{% url search:index %}">
    <!-- Doing the devil's work below: couldn't get a CSS design to work with Blackberry 8900 so using Tables as a last resort. Tim F -->
<h2 class="invisible">{% trans "Search News" %}</h2>    
<table class="search"><tbody>
        <tr><td>
                <label class="invisible" for="id_query">{% trans "Search News Box" %}</label>
                {{ search_form.query }}
        </td><td>
                <input type="hidden" name="application" value="news" title='{% trans "Search News" %}' />
                {% ifequal style_group "dumb" %}
                    <button type="submit">{% trans "Go!" %}</button>
                {% else %}
                	<input type="image" src="{{ STATIC_URL }}site/images/buttons/search-button.png" title='{% trans "Search" %}' alt='{% trans "Search" %}'/>
                {% endifequal %}
        </td></tr><tr><td>
                <p class="help-bubble top">{% trans "Search for particular news articles" %}</p>
        </td><td></td></tr></tbody>
</table>
</form>
{# End News Search #}


<div class="section">
  <div class="header">
	<h2>{% trans "Feeds" %}</h2>
  </div>
    <ul class="link-list">
{% for feed in feeds %}
        <li>
            <a href="{{ feed.get_absolute_url }}">{{ feed.title }}</a>
        </li>
{% empty %}
    {% if more_in_all %}
	<li><em>{% trans "Sorry, there are no news feeds in your language." %}</em></li>
    {% endif %}
{% endfor %}
{% if more_in_all %}
  <li><a href="{% url news:index %}?all">{% trans "View news in all languages" %}</a></li>
{% endif %}
    </ul>
</div>


{% endblock %}
