{% extends "feeds/news/base.html" %}

{% block breadcrumbs %}
{{ block.super }}
            <li><a href="{% url news:index %}">
                <img src="{{ STATIC_URL }}images/index-icons/rss-bc.png" alt="News"/>
            </a></li>
            <li><a href="{% url news:item-list item.feed.slug %}">
                &hellip;
            </a></li>
{% endblock %}

{% block pagetitle %}News item{% endblock %}
{% block title %}News: {{ item.title }}{% endblock %}

{% block content %}
<div class="section">
  <div class="header">
    <h2>{{ item.title }}</h2>
  </div>
  
    <div class="section-content">
    {{ description|safe }}
    <br />
        <small><em>
            {{ item.last_modified_local|date:"j M Y \a\t H:m" }}<br />
            Link: <a href="{{ item.link }}" title="{{ item.title }}">{{ item.link }}</a>
        </em></small>
    </div>
</div>
{% endblock %}
