{% extends "feeds/news/base.html" %}{% load molly_utils %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
            <li><a href="{% url news:index %}">
                <img src="{{ STATIC_URL }}images/index-icons/rss-bc.png" alt='{% trans "News" %}'/>
            </a></li>
{% endblock %}

{% block pagetitle %}{% trans "News feed" %}{% endblock %}
{# Significant whitespace on next line #}
{% block title %}{% trans "News feed" %}: {{ feed.title }}{% endblock %}

{% block content %}

<div class="section">
<div class="header">
    <h2>{{ feed.title }}</h2>
</div>
    <ul class="link-list">
{% for item in feed_items %}
        <li>
            <a href="{{ item.get_absolute_url }}">
                {{ item.title }}<br />
                <small><em>
                {% if not item.last_modified_local|this_year %}
                    {{ item.last_modified_local|date:"j M Y" }}
                {% else %}
                    {{ item.last_modified_local|date:"j M"}}
                {% endif %}
                </em></small>
                
            </a>
        </li>
{% endfor %}
    </ul>
</div>

{% endblock %}
