{% load molly_utils %}{% if entity.metadata.ldb %}

  <h2>Live departure board - {{ entity.metadata.ldb.generatedAt|date:"G:i:s" }}</h2>
<div class="pad-5">
    {% for message in entity.metadata.ldb.nrccMessages.message %}
      <div class="bubble pad-10">
      {{ message|sanitize_html }}
      </div>
    {% endfor %}
<table class="real-time-information">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Plat.</th>
            <th>Due</th>
            <th>Expected</th>
        </tr>
    </thead>
    <tbody id="bus_times">
    {% for service in entity.metadata.ldb.trainServices.service %}
        <tr>
            <td>{{ service.destination.location.0.locationName }}{% if service.destination.location.0.via %}<br/>
            <small>{{ service.destination.location.0.via }}</small>{% endif %}</td>
            <td>{{ service.platform }}</td>
            <td>{{ service.std }}</td>
            <td>{{ service.etd }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% else %}

    <h2>Map</h2>

{% endif %}
