{% load molly_utils %}{% if train_station.metadata.ldb %}

<div class="section" id="ldb">
  <div class="header">
    <h2>{{ train_station.title }} ({% if board %}{{ board }}{% else %}departures{% endif %}) - {{ train_station.metadata.ldb.generatedAt|localize_utc|date:"H:i:s" }}</h2>
  </div>
  
  {% if train_station.metadata.ldb.nrccMessages.message %}
  <ul class="content-list no-round-bottom">
    {% for message in train_station.metadata.ldb.nrccMessages.message %}
      <li>{{ message|sanitize_html }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <table class="content no-round-bottom">
    <thead>
      <tr>
        <th>{% ifequal board "arrivals" %}Origin{% else %}Destination{% endifequal %}</th>
        {% if train_station.metadata.ldb.platformAvailable %}
        <th>Plat.</th>
        {% endif %}
        <th>Scheduled</th>
        <th>Expected</th>
      </tr>
    </thead>
    <tbody>
      {% if train_station.metadata.ldb.error %}
        <tr>
          <td colspan="{% if train_station.metadata.ldb.platformAvailable %}4{% else %}3{% endif %}">
            <p>
              There is currently a problem retrieving live departure information from the National Rail web site.
            </p>
            <p>
              Departure information may still be accessed
              <a href="http://pda.ojp.nationalrail.co.uk/en/pj/ldbboard/dep/{{ train_station.identifiers.crs }}">directly
              from their web site</a>.
            </p>
          </td>
        </tr>
      {% else %}
        {% for service in train_station.metadata.ldb.trainServices.service %}
          <tr>
            <td>
              <a href="{{ train_station.get_absolute_url }}service?id={{ service.serviceID|urlencode }}" style="color: inherit;" rel="nofollow">
                {# This isn't that straight-forward - trains can split and go to multiple destinations #}
                {% ifequal board "arrivals" %}
                  {% for location in service.origin.location %}
                    {% if not forloop.first and not forloop.last %}, {% endif %}
                    {% if not forloop.first and forloop.last %} &amp; {% endif %}
                    {% if not forloop.first %}<br />{% endif %}
                    {{ location.locationName }}
                    {% if location.via %}<br /><small>{{ location.via }}</small>{% if not forloop.last %}<br />{% endif %}{% endif %}
                  {% endfor %}
                {% else %}
                  {% for location in service.destination.location %}
                    {% if not forloop.first and not forloop.last %}, {% endif %}
                    {% if not forloop.first and forloop.last %} &amp; {% endif %}
                    {% if not forloop.first %}<br />{% endif %}
                    {{ location.locationName }}
                    {% if location.via %}<br /><small>{{ location.via }}</small>{% if not forloop.last %}<br />{% endif %}{% endif %}
                  {% endfor %}
                {% endifequal %}
                {% if service.isCircularRoute %}<br /><small>(Circular Route)</small>{% endif %}</a>
            </td>
            {% if train_station.metadata.ldb.platformAvailable %} 
            <td>{{ service.platform }}</td>
            {% endif %}
            {% ifequal board "arrivals" %}
              <td>{{ service.sta }}</td>
              <td>{{ service.eta }}</td>
            {% else %}
              <td>{{ service.std }}</td>
              <td>{{ service.etd }}</td>
            {% endifequal %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="{% if train_station.metadata.ldb.platformAvailable %}4{% else %}3{% endif %}">There are currently no scheduled {{ board }}.</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <ul class="link-list">
    {% if board %}
      {% ifequal board "departures" %}
        <li><a class="ldb-board" href="{{ train_station.get_absolute_url }}?board=arrivals">View arrivals board</a></li>
      {% else %}
        <li><a class="ldb-board" href="{{ train_station.get_absolute_url }}?board=departures">View departures board</a></li>
      {% endifequal %}
    {% else %}
      <li><a class="ldb-board" href="{{ train_station.get_absolute_url }}?board=arrivals">View arrivals board</a></li>
    {% endif %}
  </ul>
</div>

{% endif %}
