{% load molly_utils %}
{% if entity.metadata.real_time_information %}
<div id="{{ entity.identifier_scheme }}-{{ entity.identifier_value }}">
    {% if entity.metadata.real_time_information.pip_info %}
    <ul class="content-list no-round-bottom">
        <li>{% for info in entity.metadata.real_time_information.pip_info %}
 	{{ info|sanitize_html }}{% if not forloop.last %}<br/>{% endif %}
        {% endfor %}</li>
    </ul>
    {% else %}
    <ul class="content-list no-round-bottom">
        {% if not entity.metadata.real_time_information.services %}
            <li>Sorry, there is currently no real time information for this stop.</li>
        {% endif %}
    </ul>
    {% endif %}
  {% if entity.metadata.real_time_information.services %}
 <div class="section-content no-round-bottom">
  <div class="pad-5">
   <table class="real-time-information">
    <thead style="display:none;">
        <tr>
            <th>Service</th>
            <th>Destination</th>
            <th>Expected</th>
        </tr>
    </thead>
    <tbody id="bus_times">
    {% for service in entity.metadata.real_time_information.services %}
        <tr>
            <td rowspan="2" style="font-size:200%; text-align:center;">{{ service.service }}</td>
            <td>{{ service.destination }}</td>
            <td>{{ service.next }}</td>
        </tr>
        <tr class="notopborder">
            <td colspan="2"><small>Next: {% if service.following %}{{ service.following|join:", " }}{% else %}<em>No further info</em>{% endif %}</small></td>
        </tr>
    {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
  {% endif %}
</div>
{% endif %}
