{% load molly_utils %}
{% if entity.metadata.real_time_information %}
    {% if entity.metadata.real_time_information.pip_info %}
    <ul class="content-list no-round-bottom">
        {% for info in entity.metadata.real_time_information.pip_info %}
 	<li>{{ info|sanitize_html }}</li>
        {% endfor %}
    </ul>
    {% else %}
        {% if not entity.metadata.real_time_information.services %}
        <ul class="content-list no-round-bottom">
            <li>Sorry, there is currently no bus time information for this stop.</li>
        </ul>
        {% endif %}
    {% endif %}
  {% if entity.metadata.real_time_information.services %}
 <div class="section-content no-round-bottom">
  <div class="pad-5">
   <table class="real-time-information">
    <thead style="display:none;">
        <tr>
            <th>Service</th>
            <th>Destination</th>
            <th>Expected</th>
        </tr>
    </thead>
    <tbody id="bus_times">
    {% for service in entity.metadata.real_time_information.services %}
        <tr>
            <td rowspan="2" style="font-size:200%; text-align:center;width:75px;">{{ service.service }}</td>
            <td>{{ service.destination }}</td>
            <td style="width: 70px;">{{ service.next }}</td>
        </tr>
        <tr class="notopborder">
            <td colspan="2"><small>Next: {% if service.following %}{{ service.following|join:", " }}{% else %}<em>No further info</em>{% endif %}</small></td>
        </tr>
    {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
  {% endif %}

{% endif %}
