@import "../breadcrumbs.css";


body {
	background-image:url('../../png/stripes.png');
}


ul.ml, dl.ml {
    list-style:none;
    padding:0.2em;
    padding:0px;
    margin-top: 0;
    margin-bottom:0;
}

ul.ml li, table.section-table tr, dl.ml dt, dl.ml dd {
    color:#ffffff;
    font-size:12pt;

    border-top:1px solid #98a1ac;
    background-color:#002147; opacity: 1;
	padding-right: 10px;
}


ul.ml li.non-link-item, dl.ml dt {
	padding:10px;
}

ul.ml li.subitem, dl.ml dd {
    background-color:#103157;
    margin: auto auto auto 16px;
}

table.section-table {
    border-collapse:collapse;
    width:100%;
}

table.section-table th:first-child, table.section-table td:first-child {
    padding-left:10px;
}

table.section-table tr.notopborder {
    border-top:0;
}

table.section-table:last-child {
    margin-bottom:10px;
}


ul.ml li.header {
    background-color:#48505a;
    background-image:none;
    font-weight:bold;
    text-align:center;
    color:white;
    padding:2px;
    font-size:14pt;
}

ul.ml a, dl.ml a, button.as_link  {
    background-image:url('../../png/icons/list-arrow.png');
}

ul.ml .phone {
    background-image:url('../../png/icons/list-phone.png');
}

ul.ml .email {
    background-image:url('../../png/icons/list-email.png');
}

ul.ml span.audio {
    background-image:url('../../png/icons/list-audio.png');
}

ul.ml span.video {
    background-image:url('../../png/icons/list-video.png');
}

ul.ml span.audio, ul.ml span.video {
    display:block;
    background-repeat:no-repeat;
    padding-left:25px;
    background-position:left 2px;
}

ul.ml li a, dl.ml dd a, button.as_link, table.section-table a {
	font-size:12pt;
    color:#ffffff;
    text-decoration: none;
    display:block;
	padding:10px;
    padding-right:21px;
    text-align:left;
	background-position:right center;
    background-repeat:no-repeat;

}

table.section-table a {
    padding:0;
    text-decoration:underline;
}

ul.ml a.no-icon {
    background-image:none;
}

div.list-section .top, h2.section-header, h3.section-header {
    border-top:0px;
    border-radius-topleft:8px;
    -moz-border-radius-topleft:8px;
    -webkit-border-top-left-radius:8px;
    border-radius-topright:8px;
    -moz-border-radius-topright:8px;
    -webkit-border-top-right-radius:8px;
}

ul.ml li:last-child, div.list-footer {
    border-radius-bottomleft:8px;
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-left-radius:8px;
    border-radius-bottomright:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-bottom-right-radius:8px;
}

ul.ml li.notbottom {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

div.front-section, div.section, div.section-nopad {
    margin:10px;
    padding:8px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-color:#ffffff;
    color:#000000;
}

div.section, div.section-nopad {
    background-color:#002147;
    color:#ffffff;
}

div.list-section, div.section-nopad {
    margin:10px;
    padding:0;
}

div.section-content {
    padding:8px;
    /*background-color:#ffffff;
    color:#000000;*/
}

div.section-content a {
    color: #ffffff;
}

h2.section-header, h3.section-header, div.list-footer {
    background-color:#48505a;
    background-image:none;
    font-weight:bold;
    text-align:center;
    color:white;
    padding:2px;
    font-size:14pt;
    margin-bottom:0;
    text-decoration:none;
}

h3.section-header {
    font-size:12pt;
}

div.list-footer {
    border-top:1px solid #98a1ac;
    padding:10px;
}

div.list-footer a {
    color:#ffffff;
    text-decoration:none;
    display:block;
}

div.list-note {
    background-color:#48505a;
    padding:10px;
    color:#ffffff;
    font-size:12pt;
    
}

div.hide-overflow {
    text-align:center;
}

div.hide-overflow img {
    overflow:hidden;
}

div.bubble {
    text-align:center;
    color:#002147;
    font-size:12pt;
    background-color:#ffffff;
    padding:10px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#location_update_container div.section-nopad, #location_update_container div.list-section {
    margin:0;
    #border:2px solid #ffffff;
    
}

#location_update_container h2 {
    margin:0;
}

ul.popup-tabs {
    list-style: none;
    margin:0;
    padding:4px;
    padding-bottom:0;
    margin-bottom:4px;
}

ul.popup-tabs li {
    display:inline;

}

ul.popup-tabs li a {
    text-decoration:none;
    margin:2px;
    margin-bottom:0;
    padding:8px 10px;
    padding-bottom:4px;
    #border:2px solid #ffffff;
    border-radius-topleft:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-radius-topright:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-bottom:0;
    background-color:#48505A;
    color:#ffffff;
    font-weight:bold;
    font-size:11pt;
}

ul.popup-tabs li.not-tab a {
    border:0;
    padding:2px;
    margin:4px;
    margin-left:10px;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    color:#002147;
    background-color:transparent;    
}

div.wait-tab {
    background-image:url('../gif/wait24trans.gif');
    background-position:center;
    height:100px;
    background-repeat:no-repeat;
    background-color: #002147;
    margin-top:0px;
    
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}