{% load i18n %}
{% if zoom_controls or use_slippy_maps and not force_static %}
    {% ifnotequal zoom 10 %}
        <a class="no-icon zoom-out has-ajax-handler" href="?zoom={{ map.zoom|add:"-1" }}" rel="nofollow">
            <img src="{{ STATIC_URL }}site/images/icons/zoom-out.png" alt="{% trans "Zoom out" %}"/>
        </a>
    {% endifnotequal %}
    {% ifnotequal zoom 18 %}
        <a class="no-icon zoom-in has-ajax-handler" href="?zoom={{ map.zoom|add:"1" }}" rel="nofollow">
            <img src="{{ STATIC_URL }}site/images/icons/zoom-in.png" alt="{% trans "Zoom in" %}"/>
        </a>
    {% endifnotequal %}
{% endif %}
{% if not force_static %}
    {% url maps:osm-about as about_link %}
    <div class="osm-license">{% blocktrans %}Map &copy; <a href="{{ about_link }}">OpenStreetMap</a> and contributors, CC-BY-SA{% endblocktrans %}</div>
{% endif %}
