{% extends "places/base.html" %}
{% load portal_misc %}

{% block pagetitle %}{{ entity_types.0.verbose_name_plural|capfirst }}{% endblock %}
{% block title %}m.ox | {{ entity_types.0.verbose_name_plural|capfirst }}{% endblock %}

{% block content %}

<div class="section">
  <h2>
    Found {{ count }}
    {% ifequal count 1 %}
      {{ entity_types.0.verbose_name }}
      {% ifnotequal entity_types|length 1 %}
        that is also {% for et in entity_types|slice:"1:" %}{% if not forloop.first %}, {% if forloop.last %}and {% endif %}{% endif %}{{ et.article }} {{ et.verbose_name }}{% endfor %}
      {% endifnotequal %} 
    {% else %}
      {{ entity_types.0.verbose_name_plural }}
      {% ifnotequal entity_types|length 1 %}
        that are also {% for et in entity_types|slice:"1:" %}{% if not forloop.first %}, {% if forloop.last %}and {% endif %}{% endif %}{{ et.verbose_name_plural }}{% endfor %}
      {% endifnotequal %} 
    {% endifequal %}
  </h2>

{% if not found_entity_types|length_is:0 and not found_entity_types|length_is:1 %}
  <div class="note">
    <div class="bubble pad-10">
      Limit to:
{% for et in found_entity_types %}
  {% if entity %}
    <a href="{% url places:entity-category-list entity.identifier_scheme entity.identifier_value %}{{ et.slug }}{% for oet in entity_types %}{% if not et.subtype_of.all|contains:oet %};{{ oet.slug }}{% endif %}{% endfor %}/">{{ et.verbose_name_plural }}</a>
  {% else %}
    <a href="{% url places:category-list %}{{ et.slug }}{% for oet in entity_types %}{% if not et.subtype_of_completion.all|contains:oet %};{{ oet.slug }}{% endif %}{% endfor %}/">{{ et.verbose_name_plural }}</a>
  {% endif %}
{% if not forloop.last %} | {% endif %} 
{% endfor %}
    </div>
  </div>
{% endif %}

<ul class="link-list">
{% for entity in entities %}{% if entity.title %}
    <li{% if forloop.last %} class="round-bottom"{% endif %}><a href="{{ entity.get_absolute_url }}">
      {{ entity.title|capfirst }}{% if multiple_entity_types %}<br/>
      <small>{{ entity.primary_type.verbose_name|capfirst }}</small>{% endif %}
    </a></li>
{% endif %}{% endfor %}
</ul>

</div>

{% endblock %}
