{% extends "places/base.html" %}

{% block content %}

<div class="section">
  <h2>Places with this post code</h2>
{% if entities|length_is:"1" %}
  <div class="note"><div class="bubble pad-10">
    We don't know of anywhere with this post code.
  </div></div>
<ul>
{% else %}
  <ul>
{% for entity in entities %}{% ifnotequal entity.entity_type.slug "postcode" %}
    <li><a href="{{ entity.get_absolute_url }}">{{ entity.title }}</a></li>
{% endifnotequal %}{% endfor %}
{% endif %}
    <li class="round-bottom">
    <a href="{% url places:entity-nearby-list entity.entity_type.slug,entity.display_id %}" rel="nofollow">Find things near here</a>
    </li>
</ul>
</div>


{% endblock %}
