body, table {
    margin: 0;
    font-family: "Liberation Sans", sans;
    font-size:9pt;
    background-color:#fff;
    
}

h1, h2 {
    font-weight:bold;
    margin-top:0px;
    margin-bottom:2px;
    text-align:center;
}

h1 {
    font-size:12pt;
}

h2 {
    font-size:11pt;
    text-decoration:underline;
}

div.header {
    background-color:#fff;
    height:46px;
    margin-top:0;
    background-image:url('../png/header_bg.png');
    overflow:hidden;
}

div.header img {
    border:0;
}

div.weather {
    float:right;
}

div.weather img {
    height: 46px;
}

div.container {
    width:305px;
    padding:0px;
#    border-right:1px solid green;
    overflow:hidden;
}

div.content {
/*    background-color: #002147;
    color:#ffffff;*/
    padding:2px;
    padding-top:0px;
}

a {
    color:#002147;
    text-decoration:underline;
}

p {
    margin:0;
}

.nodisplay {
    display:none;
}



div.section {
#    background-image:url('../png/top.png');
#    background-repeat:no-repeat;
    clear:both;
    padding:0 0px;
#    padding-top:20px;
}

hr {
	clear:both;
	margin-bottom:2px;
	height:1px;
	color:#002147;
	background-color:#002147;
	border:0;
	
}

div.clearhidden {
    clear:both;
    visibility:hidden;
}

.nobr {white-space: nowrap}

button.as_link {
    border:none;
    text-decoration:underline;
    color:#00f;
    cursor:pointer;
    background-color:inherit;
    text-align:center;
    white-space:nowrap;
}

ol.breadcrumbs {
    list-style:none;
    padding-left:0;
    margin:5px 5px;
}

ol.breadcrumbs li {
    display:inline;
}

ol.breadcrumbs li:before {
    content: "» ";
    content: "> ";
}

ol.breadcrumbs li:first-child:before {
    content: "";
}

div.weather {
    float:right;
    width:100px;
    text-align:right;
    overflow:hidden;
}

div.weather span {
    padding-top:0px;
    line-height:15px;
    font-size:15px;
    display:block;
}

div.weather .temperature {
    margin-top:6px;
    margin-bottom:3px;
}
div.weather .wind_speed {
    margin-top:3px;
    margin-bottom:6px;
}
    
div.weather img {
    float:right;
}

div.login {
    float:right;
    width:46px;
    height:46px;
    overflow:hidden;
    margin-left:5px;
}