<div class="location-box" id="location-box" style="position:relative; background-color:white; -webkit-border-radius:6px; -moz-border-radius:6px; margin:15px 10px 2px; padding:10px 50px">
{% if location_error %}<p class="location-error">{{ location_error }}</p>{% endif %}
<span class="location">{{ geolocation.name|default:"No location set" }}</span>
<form method="post" action="{% url geolocation:index %}" class="location-form">
        {% csrf_token %}
        <label style="display:none;" for="location-name">Set a new location:</label>
        <input class="return_url" name="return_url" type="hidden" value="{{ return_url|default:"" }}"/>
        <input class="location-name" name="name" value="{{ location }}"/>
        <input name="method" type="hidden" value="geocoded"/>
        <input class="location-submit" type="submit" value="Update"/>

</form>

<div style="position:absolute; left:10px; top:4px;">
  <img style="font-size:30px; line-height:30px" src="{{ MEDIA_URL }}site/png/location.png" alt="⬠"/>
</div>

<div class="location-alternatives"></div>

<div id="location-history">
  <h2>Location history</h2>
  <div>
{% if geolocation.history %}
  <ul>
{% for location in geolocation.history|slice:"1:" %}
    <li>
      <form class="location-history-form location-update-form" method="post" action="{% url geolocation:index %}">
        {% csrf_token %}
        <input type="hidden" name="method" value="manual"/>
        <input type="hidden" name="accuracy" value="{{ location.accuracy }}"/>
        <input type="hidden" name="longitude" value="{{ location.location.0 }}"/>
        <input type="hidden" name="latitude" value="{{ location.location.1 }}"/>
        <input type="hidden" name="return_url" value="{{ full_path }}"/>
        <input type="hidden" name="name" value="{{ location.name }}"/>
        <input type="submit" value="{{ location.name }}"/>
      </form>
      <form class="location-history-form" method="post" action="{% url geolocation:favourites %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="add"/>
        <input type="hidden" name="accuracy" value="{{ location.accuracy }}"/>
        <input type="hidden" name="longitude" value="{{ location.location.0 }}"/>
        <input type="hidden" name="latitude" value="{{ location.location.1 }}"/>
        <input type="hidden" name="return_url" value="{{ full_path }}"/>
        <input type="hidden" name="name" value="{{ location.name }}"/>
        <input type="submit" value="Add as favourite"/>
      </form>
    </li>
{% endfor %}
  </ul>
{% else %}
  <p>No previous locations</p>
{% endif %}
  </div>

</div>

<div id="location-favourites">
  <h2>Favourite locations</h2>
  <div>
{% if geolocation.favourites %}
  <ul>
{% for id, location in geolocation.favourites.items %}
    <li>
      <form class="location-history-form location-update-form" method="post" action="{% url geolocation:index %}">
        {% csrf_token %}
        <input type="hidden" name="method" value="manual"/>
        <input type="hidden" name="accuracy" value="{{ location.accuracy }}"/>
        <input type="hidden" name="longitude" value="{{ location.longitude }}"/>
        <input type="hidden" name="latitude" value="{{ location.latitude }}"/>
        <input type="hidden" name="return_url" value="{{ full_path }}"/>
        <input type="hidden" name="name" value="{{ location.name }}"/>
        <input type="submit" value="{{ location.name }}"/>
      </form>
      <form class="location-history-form" method="post" action="{% url geolocation:favourites %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="remove"/>
        <input type="hidden" name="return_url" value="{{ full_path }}"/>
        <input type="hidden" name="id" value="{{ id }}"/>
        <input type="submit" value="Remove"/>
      </form>
    </li>
{% endfor %}
  </ul>
{% else %}
  <p>No favourite locations</p>
{% endif %}
  </div>

</div>

  <form class="location-history-form location-clear-form" method="post" action="{% url geolocation:clear %}">
        {% csrf_token %}
    <p>
      <input type="hidden" name="return_url" value="{{ full_path }}"/>
      <input type="submit" value="Clear all location information"/>
    </p>
  </form>

</div>
