{% extends "auth/secure.html" %}

{% block content %}

<form method="post" action=".">

<div class="section">
  <h2>PIN</h2>
  <div class="note"><div class="bubble pad-10">
    Setting a PIN allows you to recover expired secured sessions. It must
    be composed of alphanumerics and be at least four characters in length.
  </div></div>
  
  <div class="content">
    <dl>
      <dt>{{ form.new_pin_a.label_tag }}:</dt>
      <dd>{{ form.new_pin_a }}</dd>
{% if form.new_pin_a.errors %}
      <dd>{{ form.new_pin_a.errors.0 }}</dd>
{% endif %}
      <dt>{{ form.new_pin_b.label_tag }}:</dt>
      <dd>{{ form.new_pin_b }}</dd>
{% if form.new_pin_b.errors %}
      <dd>{{ form.new_pin_a.errors.0 }}</dd>
{% endif %}
    </dl>
  </div>
</div>

<div class="section">
  <h2>Bound devices</h2>
  {{ user_sessions.management_form }}
  <table class="table-section">
    <thead>
      <tr>
        <th>Device name</th>
        <th>Last used</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
{% for form in user_sessions.forms %}
      <tr>
        <td>{{ form.id }}{{ form.instance.device_name }}</td>
{% ifequal session_key form.instance.secure_session_key %}
        <td>This device</td>
        <td></td>
{% else %}
        <td>{{ form.instance.last_used|timesince }} ago</td>
        <td>{{ form.DELETE }}</td>
{% endifequal %}
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>

<div class="section">
  <h2>Authenticated services</h2>
  {{ external_service_tokens.management_form }}
  <table class="table-section">
    <thead>
      <tr>
        <th>Service name</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
{% for form in external_service_tokens.forms %}
      <tr>
        <td>{{ form.id }}{{ form.instance.service_name }}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>

<div class="section">
  <h2>Time-out period</h2>
  <div class="note"><div class="bubble pad-10">
    You may vary the length of the period of allowed inactivity before your
    session gets locked. Accepted values are between 5 minutes and 720 (being 12 hours).
  </div></div>
  <div class="content">
    <dl>
      <dt>{{ form.timeout_period.label_tag }}:</dt>
      <dd>{{ form.timeout_period }} mins</dd>
{% if form.timeout_period.errors %}
      <dd>{{ form.timeout_period.errors.0 }}</dd>
{% endif %}
    </dl>
  </div>
</div>

{% if has_pin %}
<div class="section">
  <h2>Time-out period</h2>
  <div class="note"><div class="bubble pad-10">
    Please enter your current PIN in order to make these changes.
  </div></div>
  <div class="content">
    <dl>
      <dt>{{ form.old_pin.label_tag }}:</dt>
      <dd>{{ form.old_pin }}</dd>
{% if form.old_pin.errors %}
      <dd>{{ form.old_pin.errors.0 }}</dd>
{% endif %}
    </dl>
  </div>
</div>

{% endif %}

<input type="submit" value="Submit"/>
</form>

{% endblock %}