{% extends "sakai/base.html" %}{% load molly_sakai %}{% load molly_utils %}

{% block content %}

{% if poll.mayVote %}
<form method="POST" action="">
  {% csrf_token %}
{% endif %}

<div class="section">
  <div class="header">
    <h2>{{ poll.text }}</h2>

    {% if error %}
      <div class="sakai-error-message">
        <p>
          {{ error }}
        </p>
      </div>
    {% endif %}

    {% if not poll.hasVoted and not poll.isOpen %}
      <div class="sakai-error-message">
        <p>
          {% if poll.hasClosed %}
            You are unable to vote in this poll as it closed {{ poll.voteClose|timesince }} ago.
          {% else %}
            This poll has not yet opened. Please try again in {{ poll.voteOpen|timeuntil }}.
          {% endif %}
        </p>
      </div>
    {% endif %}
    {% if not poll.hasVoted and poll.isOpen %}
      <div class="sakai-notice-message">
        This poll closes {{ poll.voteClose|timeuntil }} from now.
      </div>
    {% endif %}
    {% if poll.minOptions > 1 %}
      <div class="sakai-notice-message">
        {% if poll.maxOptions > poll.minOptions %}
          <p>You must select at least {{ poll.minOptions }} and at most {{ poll.maxOptions }} options.</p>
        {% else %}
          <p>You must select {{ poll.minOptions }} options.</p>
        {% endif %}
      </div>
    {% else %}
      {% if poll.maxOptions > 1 %}
        <div class="sakai-notice-message">
          <p>You can select up to {{ poll.maxOptions }} options.</p>
        </div>
      {% endif %}
    {% endif %}

    {% if poll.details %}
      <div class="content">
        {{ poll.details|sanitize_html }}
      </div>
    {% endif %}
  </div>

  <table class="content">
    <thead>
      <tr>
        <th>Vote</th>
        <th>Option detail</th>
{% if vote_count %}
        <th>Results</th>
{% endif %}
      </tr>
    </thead>
    <tbody>

{% for option in options %}
      <tr>
        <td style="text-align:center; font-size:200%; width:35px">
{% if poll.mayVote %}
          <label style="display:block; padding:10px; margin:8px; -moz-border-radius:8px; border:1px solid #888; width:1.1em; line-height:1.1em; vertical-align:middle">
            <input
              type="{{ poll.maxOptions|pluralize:"radio,checkbox" }}"
              name="pollOption" id="pollOption-{{ option.id }}"
              value="{{ option.id }}"
              style="font-size:30px;"
            />
          </label>
{% else %}
          {% if option.votedFor %}
            <img src="{{ STATIC_URL }}sakai-polls/images/voted.png" alt="&#10007;"/>
          {% endif %}
{% endif %}
        </td>
        <td>
          {{ option.text|sanitize_html }}
        </td>
{% if vote_count %}
        <td style="text-align:center; font-size:120%; width:102px;">
          <span style="white-space:nowrap;">{{ option.voteCount }} ({% widthratio option.voteCount vote_count 100 %}%)</span><br/>
          <div style="min-width:40px; max-width:100px; background-color: #cfcfcf; margin-left:auto; margin-right:auto; border:1px solid #888">
            <div style="width:{% widthratio option.voteCount vote_count 100 %}%; height:10px; background-color:#e5f0e1;"></div>
          </div>
        </td>
{% endif %}
     </tr>
{% endfor %}
    </tbody>
{% if poll.mayVote %}
    <tfoot>
      <tr>
        <td colspan="{% if vote_count %}3{% else %}2{% endif %}" style="text-align:center; padding:10px">
          <input type="submit" value="Vote"/>
        </td>
      </tr>
    </tfoot>
{% endif %}
  </table>
</div>

{% if poll.mayVote %}
</form>
{% endif %}

{% endblock %}
