{% extends "auth/secure.html" %}

{% block content %}

<div class="section">
  <div class="header">
    <h2>Redirecting to {{ service_name }}&hellip;</h2>
  </div>
  
  <div class="section-content">
    <p>This page requires Mobile Oxford to have access to your account on {{ service_name }}.</p>
    <p>You will now be redirected to {{ service_name }} to confirm that you agree that access should be granted.</p>
    
    <div class="button">
      <a href="{{ authorize_url }}">Authorize&hellip;</a>
    </div>
  </div>
</div>

{% endblock %}