{% extends "home/base.html" %}
{% load molly_weather %}
{% load molly_utils %}{% load molly_search %}

{% block site_title %}{% endblock %}

{% block title %}{{ site_name }}{% endblock %}

{% block header %}
<div id="index-header">
    <div id="index-title">
		{% ifequal style_group "dumb" %}
		    <img width="90" height="55" src="{{ STATIC_URL }}site/images/logos/logo-90x55.jpg" alt="{{ site_name }}">
		{% else %}
		{% if is_christmas %}
            <img width="128" height="51" src="{{ STATIC_URL }}site/images/logos/logo-128x51-TRMargin-5px-christmas.png" alt="{{ site_name }}"/>
		{% else %}
	    <img width="128" height="51" src="{{ STATIC_URL }}site/images/logos/logo-128x51-TRMargin-5px.png" alt="{{ site_name }}"/>
		{% endif %}
        {% endifequal %}
    </div>
    <div id="index-search">
        {% search_form %}
	     <form method="get" action="{% url search:index %}">
		 <p>
			{{ search_form.query }}
		{% ifequal style_group "dumb" %}
		    <input type="button" value="Search" />
		{% else %}
			<input type="image" src="{{ STATIC_URL }}site/images/buttons/search-button.png" title="Search" alt="Search"/>
		{% endifequal %}
		 </p>
		 </form>
	</div>
</div>
{% endblock %}

{% block content %}
    {% if messages %}
    <div class="section">
      <ul class="content-list">
        {% for message in messages %}
	  <li>{{ message|sanitize_html }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="bubble">
	<div class="center">
    	<ol class="icon-menu">
		  {% for application in applications %}{% if application.display_to_user %}
	          <li id="menu-{{ application.local_name }}">
	              <a {% if application.accesskey %} accesskey="{{ application.accesskey }}"{% endif %} href="{{ application.url }}">{{ application.title }}</a>
	          </li>
	      {% endif %}{% endfor %}
	    </ol>
        {# Only necessary if using floating icons #}
        {# <div class="clearhidden"> </div> #}
    </div>
    </div>

    <div class="bubble pad-5">
        <table style="width:100%; text-align:center;">
            <tbody>
                <tr>
                    <td style="width:50%">{% block date %}
      {% now "l, jS F, Y" %}
                    {% endblock %}</td>
                    <td style="width:50%; font-size:1.2em">

      {% weather %}{% block weather-location %}{{ weather.name }}{% endblock %}: {{ weather.temperature }}&deg;C<img src="{{ STATIC_URL }}weather/images/{{ weather.icon }}_small.png" alt="{{ weather.get_outlook_display|capfirst }}" height="30" width="30" style="vertical-align:middle;"/>

                    </td>
                </tr>
	{% block below-weather %}{% endblock %}
            </tbody>
        </table>
    </div>
    
    {% if favourites %}
    <div class="section">
      <div class="header">
	<h2>Favourites</h2>
      </div>
      <ul class="link-list">
      {% for favourite in favourites %}
	<li class="favourite-link"><a href="{{ favourite.url }}">{{ favourite.metadata.title|safe }}
          {% if favourite.metadata.additional %}<br /><span class="additional">{{ favourite.metadata.additional|safe }}</span>{% endif %}</a></li>
      {% endfor %}
	<li><a href="{% url favourites:index %}"><strong>Manage Favourites</strong></a></li>
      </ul>
    </div>
    {% endif %}

    <ul class="stand-alone link-list round-top">
	{% if "feature_vote"|app_is_loaded or "feature-suggestions"|app_is_loaded %}
            <li class="round-top"><a href="{% url feature_vote:index %}">Suggest a feature</a></li>
	{% endif %}
	<li><a href="{% url home:static_about %}">About this site</a></li>
	{% if has_user_messages %}
            <li><a href="{% url home:messages %}">Read messages from the developers</a></li>
	{% endif %}
        <li class="round-bottom"><a href="{% url feedback:index %}?referer={% url home:index %}">Provide feedback</a></li>
    </ul>

	{% block below-about %} {% endblock %} 

{% if user.is_superuser %}
        <hr/>
        <div class="section">
	    <div class="header">
		<h2>Session</h2>
	    </div>
	    <div class="section-content">
		<div class="bubble pad-10">
		    <p>{{ session }}</p>
		</div>
	    </div>
        </div>
        <hr/>
        <div class="section">
	    <div class="header">
		<h2>Device</h2>
	    </div>
	    <div class="section-content no-round-bottom">
		<div class="bubble pad-10">
		    <p>{{ device.brand_name }} {{ device.model_name }} ({{ device.devid }})</p>
	            <p>{{ device.devua }}</p>
	            <p>{{ ua }}</p>
		    <p>{{ parents }}</p>
		</div>
	    </div>
	    <div class="header">
	        <h2>Browser</h2>
	    </div>
	    <div class="section-content">
		<div class="bubble pad-10">
		    <p>{{ browser.brand_name }} {{ browser.model_name }} ({{ browser.devid }})</p>
	            <p>{{ browser.devua }}</p>
		</div>
	    </div>
        </div>
        <hr/>
	<div class="section">
	    <div class="header">
	        <h2>Meta</h2>
	    </div>
	    <div class="section-content">
		<div class="bubble pad-10">
		<dl>
		    {% for a,b in meta.items %}
			<dt>{{ a }}</dt>
	                <dd>{{ b }}</dd>
		    {% endfor %}
		</dl>
		</div>
            </div>
        </div>

        <div class="section">
            <div class="header">
                <h2>Preferences</h2>
            </div>
	    <div class="section-content">
		<div class="bubble pad-10">
		    <p>{{ preferences }}</p>
		</div>
	    </div>
        </div>        
{% endif %}

{% endblock %}
