{% extends "home/base.html" %}

{% block pagetitle %}Messages{% endblock %}
{% block title %}Messages from the developers{% endblock %}

{% block content %}

{% if formset.forms %}
<div class="section">
  <div class="header">
    <h2>Messages from the developers</h2>
  </div>
  <div class="section-content"><div class="note"><div class="bubble pad-10">
    The developers would like to thank you for using {{ site_name }},
    and would like to ask your help in making it better.
  </div></div>


<form method="post" action=".">
  {% csrf_token %}

{{ formset.management_form }}

{% for form in formset.forms %}

{{ form.id }}

  <ul>
    <li class="non-link-item top">
      {{ form.instance.message|linebreaks }}
      <small>Left on <em>{{ form.instance.when|date:"D j M Y, g:i A" }}</em></small><br/>
    </li>
    <li>
      <a href="{% url feedback:index %}?referer={{ path }}&#35;{{ form.instance.when|date:"YmdHis" }}">Respond to this message</a>
    </li>
    <li class="non-link-item">
      {{ form.DELETE }} {{ form.DELETE.label_tag }}
    </li>

  </ul>
</div>
</div>

{% endfor %}

<div style="text-align:center">
  <input type="submit" value="Delete selected"/>
</div>

</form>
</div>
{% else %}

<div class="section">
  <div class="header">
    <h2>Messages from the developers</h2>
  </div>
  <div class="section-content"><div class="note"><div class="bubble pad-10">
    You have no messages
  </div></div></div>
</div>
</div>

{% endif %}

{% endblock %}
