{% extends "auth/secure.html" %}

{% block content %}

<form method="post" action=".">
  {% csrf_token %}

<div class="section">
  <div class="header">
    <h2>Clear session</h2>
    <p>Clearing your session will make all your authenticated services unavailable from this phone.</p>
    <p>If you are signed into WebAuth, you may wish to close your browser.</p>
  </div>
  <div class="section-content">
    <p style="text-align:center">
      <input type="submit" value="Clear session"/>
    </p>
  </div>
</div>

</form>

{% endblock %}