{% extends "auth/secure.html" %}

{% block content %}

<div class="section">
  <h2>Your secure session has timed out.</h2>

  <div class="note"><div class="bubble">
    <p>
      As a security feature your session has timed out due to a period of
      inactivity. 
    </p>
{% if has_pin %}
    <p>
      You can get back in by entering your PIN:
    </p>
    <p>
      <form method="post" action=".">
        {% csrf_token %}
        <label for="pin">
          Enter your PIN
        </label>
        <input id="pin" name="pin" type="password"/>
        <input type="submit" name="reauthenticate" value="Submit"/>
      </form>
    </p>
    <p>
      If you can't remember your PIN, you may reset your session by
      using the button below. Note, that you may lose some secure preferences!
    </p>
{% else %}
    <p>
      The button below will clear your secure session, allowing you to
      reauthenticate with any services you were previously using.
    </p>
    <p>Tip: Make it easier to get back in by setting a PIN!</p>
{% endif %}
    <p>
      <form method="post" action=".">
        {% csrf_token %}
        <input type="submit" name="clear_session" value="Start over"/>
      </form>
    </p>
    <p>
      You may set a new PIN at any point by using the link at the bottom of an
      authenticated page.
    </p>
  </div></div>
</div>

{% endblock %}