{% extends "feature_vote/base.html" %}{% load comments %}

{% block content %}


<div class="bubble pad-5">
{% if submitted %}
  <p><strong>Thank you for submitting a feature request! It is pending moderation, and should appear shortly.</strong></p>
{% else %}
  <p>Do you have something you'd like to see added to {{ site_name }}?</p>
  
  <p>You can vote or comment on existing suggestions, or use the <a href="#submit-feature">form at the bottom of the page</a> to add a new suggestion.</p>
{% endif %}
</div>

<div class="section">
  <div class="header">
  <h2>Current suggestions</h2>
</div>
{% if features %}
  <ul class="content-list">
{% for feature in features %}{% get_comment_count for feature as comment_count %}
    <li>
      {% include "feature_vote/vote.html" %}
      <h3><a href="{% url feature_vote:feature-detail feature.id %}">{{ feature.title }}</a></h3>
        
      <p><small>by {{ feature.user_name }}, added {{ feature.created|timesince }} ago</small></p>
      <p>{{ feature.description|truncatewords:20 }}</p>
      <p>{{ comment_count }} comment{{ comment_count|pluralize }}.
        <a href="{% url feature_vote:feature-detail feature.id %}">
          {% if comment_count %}Read more&hellip;{% else %}Be the first to comment&hellip;{% endif %}
        </a>
      </p>
    </li>
{% endfor %}
  </ul>
{% else %}
  <div class="section-content">
    <p>There aren't yet any features to vote on.</p>
  </div>
{% endif %}

</div>

<div class="form-section" id="submit-feature">
  <div class="header">
  <h2>Suggest a feature</h2>
  </div>
  <form method="post" action=".">
    {% csrf_token %}
    <input type="hidden" name="csrf" value="{{ csrf }}"/>
    <dl>
      <dt>{{ form.user_name.label_tag }}:</dt>
      <dd>{{ form.user_name.errors }}{{ form.user_name }}</dd>
      <dt>{{ form.user_email.label_tag }}:</dt>
      <dd>{{ form.user_email.errors }}{{ form.user_email }}</dd>
      <dt>{{ form.title.label_tag }}:</dt>
      <dd>{{ form.title.errors }}{{ form.title }}</dd>
      <dt>{{ form.description.label_tag }}:</dt>
      <dd>{{ form.description.errors }}{{ form.description }}</dd>
    </dl>
    
    <p class="submit-buttons">
      <input type="submit" value="Submit"/>
    </p>
    
    <div style="clear:both"></div>
  </form>
</div>

{% endblock %}
