{% load i18n %}
<div class="vote-box">
  <form method="post" action="{% url feature_vote:index %}">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ feature.id }}"/>
    <input type="hidden" name="return_url" value="{{ full_path }}"/>
    {% ifequal feature.vote 1 %}
    <input type="image" src="{{ STATIC_URL }}feature_vote/images/vote-up-voted.png" disabled="disabled" height="20" width="60" name="vote up" value='{% trans "Vote up (already voted)" %}' alt="vote_up"/>
    {% else %}
    <input type="image" src="{{ STATIC_URL }}feature_vote/images/vote-up.png" height="20" width="60" name="vote_up" value='{% trans "Vote Up" %}' alt="vote up"/>
    {% endifequal %}
    <span class="vote-count">{{ feature.net_votes }}</span>
    {% ifequal feature.vote -1 %}
    <input type="image" src="{{ STATIC_URL }}feature_vote/images/vote-down-voted.png" disabled="disabled" height="20" width="60" name="vote_down" value='{% trans "Vote down (already voted)" %}' alt="vote down"/>
    {% else %}
    <input type="image" src="{{ STATIC_URL }}feature_vote/images/vote-down.png" height="20" width="60" name="vote_down" value='{% trans "Vote down" %}' alt="vote down"/>
    {% endifequal %}
      </form>
</div>