{% extends "search/base.html" %}

{% block pagetitle %}Search{% endblock %}
{% block title %}m.ox | Search{% if results %}: {{ search_form.data.query }}{% endif %}{% endblock %}

{% block content %}

{# Results Page #}
{% if search_form.is_valid %}
<div class="section">
  <h2>Results</h2>
{% if results %}
  	<ol class="search-results">
	{% for result in results %}
	    <li{% if forloop.last %} class="round-bottom"{% endif %}>
	      <a href="{{ result.url }}">
	      {% if result.application %}
	        <img src="{{ MEDIA_URL }}png/index-icons/{{ result.application }}-bc.png" style="float:left; border:0; margin-right: 5px; margin-bottom: 5px;"/>
	      {% endif %}
	        {{ result.title|safe }}<br/>
	{% if result.additional %}
	        <small><em>{{ result.additional|safe }}</em></small><br/>
	{% endif %}
	        <small>{{ result.excerpt|safe }}</small>
	      </a>
	    </li>
	{% endfor %}
	  </ol>
	</div>
</div>
{% else %}
	<div class="note"><div class="bubble pad-10">Sorry, your search returned no results.</div></div>
</div>
{% endif %}

	{# Search Elsewhere #}
	<div class="section">
	  <h2>Search elsewhere <small>for<em> {{ search_form.data.query }}</em></small></h2> 
<h3>Contact search</h3>
	  <ul>
	    <li><a href="{% url contact:index %}?q={{ search_form.data.query }}&amp;method=email">E-mail</a></li>
	    <li><a href="{% url contact:index %}?q={{ search_form.data.query }}&amp;method=phone">Phone</a></li>
	 </ul>
<h3>Library search</h3>
	 <ul>
	    <li><a href="{% url z3950:search %}?title={{ search_form.data.query }}">Title</a></li>
	    <li class="round-bottom"><a href="{% url z3950:search %}?author={{ search_form.data.query }}">Author</a></li>
	  </ul>
	</div>
	{# End Search Elsewhere #}

{% endif %}
{# End Results Page #}

{# Universal Search Form #}
<div class="section">
	<div class="form">
  <form method="get" action=".">
    <h2>
      {{ search_form.query.label }}{% if search_form.application %} {{ search_form.cleaned_data.application }}{% endif %}
    </h2>
      <p>
        {{ search_form.query }}{{ search_form.application }}
      </p>
	  <p><input type="submit" value="Go!"/></p>
  </form>
	</div>
</div>
{# End Universal Search Form #}


{% endblock %}
