{% extends "podcasts/base.html" %}{% load molly_utils %}
{% load i18n %}
{% block content %}


<div class="section">
  <div class="header">
    <h2>{% trans category.name %}</h2>
    {% trans "Show:" %}
    {% comment %} the non-breaking spaces are to combat a bug in slimmer,
		  where it is over zealous in removing the spaces
		  between the a tags {% endcomment %}
    <a href="{% url podcasts:category-medium category.slug,"audio" %}">{% trans "audio" %}</a>&nbsp;
    <a href="{% url podcasts:category-medium category.slug,"video" %}">{% trans "video" %}</a>&nbsp;
    <a href="{% url podcasts:category-medium category.slug,"all" %}">{% trans "all" %}</a>
  </div>
		
<ul class="link-list">
{% for podcast in podcasts %}
  {% include "podcasts/podcast.html" %}
{% empty %}
  {% if more_in_all %}
    <li><em>{% trans "Sorry, there are no podcasts in your language." %}</em></li>
  {% endif %}
{% endfor %}
{% if more_in_all %}
  <li><a href="{% url podcasts:category-medium category.slug,"all" %}">{% trans "View podcasts in all languages" %}</a></li>
{% endif %}
</ul>
</div>

{% endblock %}
