{% extends "podcasts/base.html" %}{% load molly_utils %}{% load molly_external_media %}

{% block content %}


<div class="section">
  <div class="header">
    <h2>{{ category.name }}</h2>
    Show:
    <a href="{% url podcasts:category-medium category.slug,"audio" %}">audio</a> 
    <a href="{% url podcasts:category-medium category.slug,"video" %}">video</a> 
    <a href="{% url podcasts:category category.slug %}">all</a>
  </div>
		
<ul class="link-list">
{% for podcast in podcasts %}
    <li style="padding:5px; clear:left; background:none;">
      <a href="{{ podcast.get_absolute_url }}" style="">
        <div style="float:left; width:60px; margin-right:5px; text-align:center;">
          {% if podcast.logo %}
          {% with device|device_has_parent:"apple_iphone_ver4"|yesno:"120,60" as max_width %}
          <img src="{% external_image podcast.logo max_width %}" width="60" height="60" alt="" style="border:0;"/>
          {% endwith %}
          {% endif %}
          <img src="{{ STATIC_URL }}site/images/icons/list-{{ podcast.medium }}.png" style="border:0; margin:2px;" alt="({{ podcast.medium }})">
        </div>
        <div style="padding:0 0 0 60px">
        {{ podcast.title }}
        <br />
        <span style="font-size:80%; padding-left:0;">{{ podcast.description|truncatewords:10 }}</span>
        </div>
        <br style="clear:both;"/>
      </a>
    </li>
{% endfor %}
</ul>
</div>

{% endblock %}
