{% extends "podcasts/base.html" %}{% load molly_utils %}{% load molly_external_media %}
{% load i18n %}
{% block content %}


<div class="section">
  <div class="header">
    <h2>{% trans category.name %}</h2>
    {% trans "Show:" %}
    {% comment %} the non-breaking spaces are to combat a bug in slimmer,
		  where it is over zealous in removing the spaces
		  between the a tags {% endcomment %}
    <a href="{% url podcasts:category-medium category.slug,"audio" %}">{% trans "audio" %}</a>&nbsp;
    <a href="{% url podcasts:category-medium category.slug,"video" %}">{% trans "video" %}</a>&nbsp;
    <a href="{% url podcasts:category-medium category.slug,"all" %}">{% trans "all" %}</a>
  </div>
		
<ul class="link-list">
{% for podcast in podcasts %}
    <li class="podcast">
      <a href="{{ podcast.get_absolute_url }}">
        <div class="center podcast-image">
          {% if podcast.logo %}
          {% with device|device_has_parent:"apple_iphone_ver4"|yesno:"120,60" as max_width %}
          <img class="no-border" src="{% external_image podcast.logo max_width %}" width="60" height="60" alt="" />
          {% endwith %}
          {% endif %}
          <img class="no-border" src="{{ STATIC_URL }}site/images/icons/list-{{ podcast.medium }}.png" alt="({{ podcast.medium }})">
        </div>
        <div class="podcast-title">
        {{ podcast.title }}
        <br />
        <span class="podcast-description">{{ podcast.description|truncatewords:10 }}</span>
        </div>
        <br class="clear"/>
      </a>
    </li>
{% empty %}
  {% if more_in_all %}
    <li><em>{% trans "Sorry, there are no podcasts in your language." %}</em></li>
  {% endif %}
{% endfor %}
{% if more_in_all %}
  <li><a href="{% url podcasts:category-medium category.slug,"all" %}">{% trans "View podcasts in all languages" %}</a></li>
{% endif %}
</ul>
</div>

{% endblock %}
