{% extends "podcasts/base.html" %}{% load molly_search %}
{% load molly_utils %}

{% block content %}

{% if device|device_has_parent:"apple_generic" and show_itunesu_link %}
<div class="help-bubble" id="itunesu_link_div">
    <p>It looks like you're using an Apple device! You can also get all the University's podcasts via your iTunes U app, which gives you extra features like downloads for later listening/viewing.</p>
    
    <p>Please note that this will close Safari.</p>
    <form method="post" action="{% url podcasts:itunesu-redirect %}">
	{% csrf_token %}
    {% comment %}<p><input type="checkbox" name="remember" id="remember"/>
       <label for="remember">
       Remember this preference in future.
       </label>
    </p>{% endcomment %}
    <p style="text-align:center; margin-bottom:0;">
        <button type="submit" name="use_itunesu" value="yes">Go to iTunes U</button>
        <button type="submit" name="cancel" id="hide_itunesu_link" value="no">Stay here</button>
    </p>
    </form>
</div>
{% endif %}

{# Podcasts Search #}
{% search_form %}
<form method="get" action="{% url search:index %}">
    <!-- Doing the devil's work below: couldn't get a CSS design to work with Blackberry 8900 so using Tables as a last resort. Tim F -->
<h2 class="invisible">Search Podcasts</h2>    
<table class="search"><tbody>
        <tr><td>
                <label class="invisible" for="id_query">Search podcasts</label>
                {{ search_form.query }}
        </td><td>
                <input type="hidden" name="application" value="podcasts" title="Search Podcasts" />
                {% ifequal style_group "dumb" %}
                    <button type="submit">Go!</button>
                {% else %}
                	<input type="image" src="{{ STATIC_URL }}site/images/buttons/search-button.png" title="Search" alt="Search"/>
                {% endifequal %}
        </td></tr><tr><td>
                <p class="help-bubble top">Try searching for a podcast by subject, name or author</p>
        </td><td></td></tr></tbody>
</table>
</form>
{# End Podcasts Search #}

<div class="section" >
{% block listdef %}
  <div class="header">
	<h2>By category</h2>
  </div>
{% endblock %}



<ul class="link-list">
{% for category in categories %}
    <li {% if forloop.last %}class="round-bottom" {% endif %}>
	<a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
{% endfor %}
</ul></div>
{% endblock %}
