{% load molly_external_media %}{% load molly_utils %}

    <li class="podcast">
      <a href="{{ podcast.get_absolute_url }}">
        <div class="center podcast-image">
          {% if podcast.logo %}
          {% with device|device_has_parent:"apple_iphone_ver4"|yesno:"120,60" as max_width %}
          <img src="{% external_image podcast.logo max_width %}" width="60" height="60" alt="" />
          {% endwith %}
          {% endif %}
          <img src="{{ STATIC_URL }}site/images/icons/list-{{ podcast.medium }}.png" alt="({{ podcast.medium }})">
        </div>
        <div class="podcast-title">
        {{ podcast.title }}
        <br />
        <span class="podcast-description">{{ podcast.description|truncatewords:10 }}</span>
        </div>
        <br class="clear"/>
      </a>
    </li>