{% extends "auth/secure.html" %}

{% block content %}

<div class="section">
  <div class="header">
    <h2>Redirecting to {{ service_name }}&hellip;</h2>
  </div>
  
  <div class="section-content">
    <p style="font-size:1.2em">
      This page provides information from {{ service_name }}, requiring you to allow access from {{ site_name }} to your {{ service_name }} account.
    </p>
    <p style="font-size:1.2em">
      Select <strong>Proceed&hellip;</strong> to be redirected to
      {{ service_name }} to confirm that you agree that access should be
      granted. If this page is not what you expected, select
      <strong>Cancel</strong>.
    </p>
    <p>
      To revoke access from {{ site_name }} in the future, head to <em>Trusted
      Applications</em> within <em>My Workspace</em> in {{ service_name }}.
      If you wish to remove access from one of your devices, head to
      <em>Security preferences</em> at the bottom of any authenticated page
      on {{ site_name }}.
    </p>
    
    <div class="button">
      <a href="{{ authorize_url }}">Proceed&hellip;</a>
    </div>
    <div class="button">
      <a href="{{ return_url }}">Cancel</a>
    </div>
  </div>
</div>

{% endblock %}