{% extends "weather/base.html" %}

{% block pagetitleclass %}weather-header with-icon{% endblock %}
{% block pagetitle %}Weather{% endblock %}
{% block title %}m.ox | Weather{% endblock %}


{% block content %}

<div class="section">
	<h2>Oxfordshire <small>- RAF Benson at {{ observation.observed_date|date:"H:i" }}</small></h2>
	<div class="note">
		<div class="weather-icon">
	    <img src="{{ MEDIA_URL }}png/weather/{{ observation.icon }}.png" alt="{{ observation.get_outlook_display|capfirst }}"/><br/>
	    </div>
		<div class="weather-live-info">
			<ul>
				<li style="font-size: 36pt;">{{ observation.temperature }}&deg;C</li>
				<li>{{ observation.wind_speed }}mph {{ observation.wind_direction }}</li>
				<li>{{ observation.humidity }}% Relative Humidity</li>
				<li>{{ observation.pressure }} mbar and {{ observation.get_pressure_state_display }}</li>
				<li>{{ observation.get_visibility_display|capfirst }} </li>
			</ul>
		</div>
	</div>
</div>
	
<div class="section">
    <h2>Forecast</h2>
    <table class="weather-forecast">
        <tbody>
{% for forecast in forecasts %}
            <tr>
                <td style="font-size:12pt">{{ forecast.observed_date|date:"l" }}</td>
                <td><img src="{{ MEDIA_URL }}png/weather/{{ forecast.icon }}_small.png" alt="{{ forecast.get_outlook_display|capfirst }}" style="height:2.5em; width:2.5em;"/></td>
                <td style="font-size:12pt">{{ forecast.max_temperature }}&deg;C</td>
                <td>{{ forecast.min_temperature }}&deg;C</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}