{% extends "places/base.html" %}
{% load maps %}{% load portal_misc %}

{% block extrahead %}{{ block.super }}
<meta name="robots" content="noindex"/>{% endblock %}

{% block content %}

<div class="section-nopad">
  <h2>Thank you</h2>
  
  <div class="section-content" style="text-align:left;">
    <p>
      Your changes have been submitted and will be checked shortly. Thank you
      for contributing to both Mobile Oxford and OpenStreetMap!
    </p>
    
    <p>
      You may now wish to <a href="{{ entity.get_absolute_url }}">head back</a>.
    </p>

  </div>
</div>


{% endblock %}
