/* RTI */
table.real-time-information {
    width: 100%;
    background: #121C28;
    color: #FFBF00;
    border: 2px solid #FFBF00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    padding: 2px 0;
}

table.real-time-information tr {
    border-collapse: collapse;
    border-top: 1px solid #FFBF00;
}

tbody#bus_times td.service-id {
    font-size: 2em;
    text-align: center;
}

td.service-id a {
    color: inherit;
}
/* End RTI */

/* Directions list */

ul.directions-list li {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 40px;
}

ul.directions-list li .additional {
    font-size: 0.8em;
    font-weight: normal;
}

ul.directions-list li.direction-start {}
ul.directions-list li.direction-left {}
ul.directions-list li.direction-slight-left {}
ul.directions-list li.direction-sharp-left {}
ul.directions-list li.direction-right {}
ul.directions-list li.direction-slight-right {}
ul.directions-list li.direction-sharp-right {}
ul.directions-list li.direction-turn-around {}
ul.directions-list li.direction-straight {}
