/* RTI */
table.real-time-information {
    width: 100%;
    background: #121C28;
    color: #FFBF00;
    border: 2px solid #FFBF00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    padding: 2px 0;
}

table.real-time-information tr {
    border-collapse: collapse;
    border-top: 1px solid #FFBF00;
}

tbody#bus_times td.service-id {
    font-size: 2em;
    text-align: center;
}

td.service-id a {
    color: inherit;
}
/* End RTI */

/* Delayed trains */
.delayed-service {
    color: #781c1f;
}

/* Directions list */

ol.directions-list li {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 55px !important;
    list-style-type: decimal;
    list-style-position: inside;
    background-repeat: no-repeat !important;
    background-position: left center !important;
}

ol.directions-list li .additional {
    font-size: 0.8em;
    font-weight: normal;
}

ol.directions-list li.direction-start { background-image: url('../../places/images/start.png'); }
ol.directions-list li.direction-left { background-image: url('../../places/images/turn-left.png'); }
ol.directions-list li.direction-slight-left { background-image: url('../../places/images/bear-left.png'); }
ol.directions-list li.direction-sharp-left { background-image: url('../../places/images/sharp-left.png'); }
ol.directions-list li.direction-right { background-image: url('../../places/images/turn-right.png'); }
ol.directions-list li.direction-slight-right { background-image: url('../../places/images/bear-right.png'); }
ol.directions-list li.direction-sharp-right { background-image: url('../../places/images/sharp-right.png'); }
ol.directions-list li.direction-turn-around { background-image: url('../../places/images/turn-around.png'); }
ol.directions-list li.direction-straight { background-image: url('../../places/images/straight-on.png'); }
