body {
    font-family: 'Liberation Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul, ol {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

li {
    display: inline-block;
    background-color: #d6d6d6;
    background-image: url('../../tours/images/add.png');
    background-position: 5px center;
    background-repeat: no-repeat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 15px 15px 25px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

#poi-list li {
    background-color: #fffcb6;
    background-image: url('../../tours/images/delete.png');
}

li.selected {
    display: none;
}

#current-tour {
    width: 250px;
    float: left;
}

#current-tour li {
    width: 200px;
}

.attractions-grouping {
    margin-left: 260px;
}