{% extends "service_status/base.html" %}

{% block content %}

{% for slug, name, lastBuildDate, statuses, announcements in services %}
<div class="section">
  <h2>{{ name }} <small>at {{ lastBuildDate|date:"G:i D, j F Y" }}</small></h2>
  {% if announcements %}
  <h3 class="invisible">Service announcements</h3>
  
  <ul class="content-list no-round-bottom">
{% for announcement in announcements %}
    <li>
      <h3>{{ announcement.title }}</h3>
      {{ announcement.description }}<br/>
      <small>{{ announcement.date }}</small>
    </li>
{% endfor %}
  </ul>
{% endif %}

  <h3 class="invisible">Services</h3>

  <ul class="link-list service-status">
{% for status in statuses %}
    <li class="service-status service-status-{{ status.status }}{% if forloop.last %} round-bottom{% endif %}">
      <span class="service-name">{{ status.name }}</span>
      <span class="service-status">{{ status.status|capfirst }}</span>
{% if status.detail %}
      <span class="service-detail">{{ status.detail }}</span>
{% endif %}
    </li>
{% endfor %}
  </ul>
</div>
{% endfor %}

{% endblock %}
